.pending-conversion-page {
  display: flex;
  flex: 1;
  .tooltip-container {
    width: 100%;
  }
  .list-panel {
    @include form-panel;
    .list {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      .pending-conversion {
        @include small-card();
        margin: unset;
        .expiration-date {
          flex: 1;
        }
      }
    }
  }
}
