
html,body{height: 80%;}

.modal-content{
  height: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

h2{
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

.error{
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 50px;
}

.error_header:before{
  content:"";
  background-image: url("../images/error.svg");
  height:20px;
  width: 20px;
  margin-right: 7px;
  display: inline-block;
}
.modal-body-error{
  text-align: center;
}

button{
  font-size: 1.2em;
  padding: 8px 25px 8px 25px;
}

#modal-body-msg > div, #modal-body-msg > h3{
  display: none;
  height: auto;
}

#modal-body-msg{
  text-align: left;
  width: 100%;
  margin-left: 30px;
}

#proceed,#cancel{
    font-size: 1em;
    padding: 4px 15px 4px 15px;
    margin: 10px;
    margin-top: 40px;
}

#message_send{
  margin-bottom: 15px;
}
