@font-face {
  font-family: Futura;
  src: url("../fonts/Futura-Boo.otf");
  font-weight: 400;
}

html {
  overflow: hidden;
  border-radius: 1px;
  margin: 0 !important;
  padding: 0 !important;
  background: transparent linear-gradient(330deg, #59626C 0%, #000000 100%) 0% 0% no-repeat padding-box !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  left: 0;
  position: relative;
  height: 600px;
  width: 350px !important;
}

body {
  height: 100%;
  font-family: Futura !important;
  font-weight: 400;
  padding: 0 !important;
  width: 350px;
  margin: 0 !important;
  overflow: hidden;
  position: relative;
}

.cloud {
  position: absolute;
  width: 350px;
  height: 600px;
  background: transparent url('../images/hive-watermark.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.modal-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box !important;
  position: absolute;
  margin: 0 !important;
  padding: 20px 32px !important;
  line-height: 22px;
  font-size: 16px;
  text-align: left;
  text-overflow: clip;
  white-space: normal;
  color: white;
  z-index: 2;
}

h2 {
  display: inline-block;
  margin: 10px 0 20px 0;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
}

h2::before {
  content: "";
  width: 41.21px;
  height: 30px;
  opacity: 0.8;
  background-image: url("../images/keychain_icon_small.png");
  background-repeat: no-repeat;
  background-size: 41.21px 30px;
  padding-right: 60px;
  vertical-align: 0%;
  background-size: contain;
}

h3.dialog-message {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 5px 0 10px 0;
}

h3 .small {
  text-transform: none;
  font-size: 80%;
  cursor: pointer;
}

#modal-body-msg .msg-data>div,
#modal-body-msg .msg-data>h3,
#modal-body-msg .msg-data>img,
#transfer_acct_list {
  display: none;
}

#error_dialog {
  margin-bottom: 40px;
}

.modal-body-error {
  width: 100%;
  box-sizing: border-box;
}

.input_container {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.input_img {
  position: absolute;
  bottom: 30.07px;
  left: 20.41px;
  width: 23.85px;
  height: 29.93px;
}

.input_container input {
  width: 100%;
  height: 48.43px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background: #212529 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  opacity: 1;
  padding-left: 97px;
  font-size: 20px;
  color: white;
  border-style: unset;
  border-bottom: solid 1px white;
}

button {
  border-radius: 5px;
  width: 100%;
  height: 48.43px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-family: Futura;
  text-transform: uppercase;
  background-color: black;
  border: none;
  cursor: pointer;
}

#yes-unlock {
  margin-bottom: 20px;
}

.unlock {
  display: none;
}

#modal-body-msg {}

#modal-body-msg .msg-data {
  max-height: 285px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 32px;
  margin-left: -32px;
  margin-right: -32px;
}
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

#modal-body-msg h3 {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#modal-body-msg .msg-data div {
  font-size: 16px;
  line-height: 16px;
  font-style: italic;
  margin-bottom: 20px;
}

.keep_checkbox {
  display: block;
  height: 37px;
  margin-bottom: 25px;
}

/* The container */
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 55px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_container div {
  margin-top: 5px;
  color: #006060;
}

.checkbox_container div:first-of-type {
  color: white;
  margin-top: 0px;
  text-transform: uppercase;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.65);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6.4px;
  height: 11.8px;
  border: solid #009C9C;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#confirm_footer {
  display: none;
  width: 100%;
  min-height: 200px;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: -32px;
  padding: 10px 32px 60px 32px;
}

#confirm_footer button {
  width: 138px;
  border: none;
}

#confirm_footer button:first-of-type {
  margin-right: 6px;
  background-color: #7E8C9A;
}

#proceed {
  background-color: black;
}

#proceed:hover {
  background-color: #E31337;
}

#keep_label {
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
}

#tx_loading {
  text-align: center;
}

#tx_loading img {
  width: 50px;
}

.custom-select {
  position: relative;
  width: 100% !important;
  line-height: 2;
  height: 48.43px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 96, 96, 0.29);
  border-radius: 5px;
  margin-top: 20px;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: #58616A;
  padding-left: 20px !important;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color: white transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent white transparent;
  top: 11px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  box-sizing: border-box;
  color: white;
  font-family: Futura;
  font-size: 20px;
  margin-bottom: 0px;
  line-height: 28px;
  padding: 9px 0px 8px 20px;
  border: 1px solid transparent;
  /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
  cursor: pointer;
  border-radius: 3px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 100%;
  left: 0;
  margin-bottom: 0;
  right: 0;
  z-index: 99;
}

.select-items div {
  margin-bottom: 0;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #E31337;
}

.balance_loading {
  width: 15px
}

#steemit {
  display: none
}

#balance, #balance_after {
  display: none
}