#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#file+label {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-family: Futura;
  text-transform: uppercase;
  border: solid 3px black;
  cursor: pointer;
}

#file_span {
  display: inline-block;
  margin-bottom: 30px;
}

#file:focus+label,
#file+label:hover {
  background-color: #E31337;
  border: solid 3px #E31337;
}

#import_result {
  display: none;
}