@font-face {
    font-family: Futura;
    src: url("../fonts/Futura-Boo.otf");
    font-weight: 400;
}

html {
    overflow: hidden;
    border-radius: 1px;
    margin: 0 !important;
    padding: 0 !important;
    background-image: linear-gradient(328deg, #3df9b4, #00d3cc, #a779ff) !important;
    background-repeat:no-repeat;
    background-attachment: fixed;
    top: 0;
    left: 0;
    position: relative;
    height: 566px;
    width: 350px !important;
}

body {
    height: 100%;
    font-family: Futura !important;
    font-weight: 400;
    padding: 0 !important;
    width: 100%;
    margin: 0 !important;
    overflow: hidden;
}

.cloud {
    background: url("../images/bg-steam@2x.png") no-repeat;
    background-size: cover;
    width: 350px;
    height: 436px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.logo-white {
    width: 286px;
    height: 43.38px;
}

#register,
#unlock,
#main,
#forgot_div,
#add_account_div,
#master_check,
#send_div,
#acc_transfers,
#settings_div,
.settings_child,
#pref_div,
#estimation_info,
#add_key_div,
#change_password {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    margin: 0 !important;
    padding: 32px !important;
    line-height: 22px;
    font-size: 16px;
    text-align: left;
    text-overflow: clip;
    white-space: normal;
    color: white;
    z-index: 2;
}


#register p {
    margin-bottom: 30px;
    margin-top: 37.62px;
}

#unlock p {
    margin-bottom: 70px;
    margin-top: 37.62px;
}

#forgot_div p {
    margin-bottom: 70px;
    margin-top: 70px;
}

#master_check p {
    margin-top: 46px;
    margin-bottom: 25px;
}

input:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

.input_container {

    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.input_img {
    position: absolute;
    bottom: 30.07px;
    left: 20.41px;
    width: 23.85px;
    height: 29.93px;
}

.input_img_right_eye {
    position: absolute;
    bottom: 34.28px;
    right: 20.01px;
    width: 29.99px;
    height: 29.93px;
}

.input_img_right_submit {
    position: absolute;
    bottom: 20.57px;
    right: 21.07px;
    width: 29.99px;
    height: 29.99px;
}

#send_div .input_container img {
    position: absolute;
    top: 9px;
    left: 20px;
    width: 29.99px;
    height: 29.99px;
}

#register input,
#unlock input,
#add_account_div input,
#send_div input,
#add_key_div input,
#change_password input {
    width: 100%;
    box-sizing: border-box;
    height: 48.43px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.65);
    padding-left: 97px;
    border-radius: 5px;
    color: #009C9C;
    font-size: 20px;
}

#unlock input,
#add_account_div input,
#change_password input {
    padding-left: 65px;
}

#register input::placeholder,
#unlock input::placeholder,
#add_account_div input::placeholder {
    color: #72B7C1;
    text-transform: uppercase;
    font-family: Futura;
    font-size: 20px;
    padding-top: 10px;
}

#register button,
#unlock button,
#forgot_div button,
#add_account_div button,
#master_check button,
#send_div button,
#main button,
#delete_account,
#add_key_div button,
#change_password button {
    border-radius: 5px;
    width: 100%;
    height: 48.43px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    color: white;
    font-family: Futura;
    text-transform: uppercase;
    background-color: rgba(0, 156, 156);
    border: solid 1px rgba(0, 156, 156);
    cursor: pointer;
}

#submit_unlock {
    margin-bottom: 12.57px;
}

#change_password button:hover,#submit_master_pwd:hover,#submit_unlock:hover, #check_add_account:hover,#save_master:hover,#send:hover,#history:hover, #forgot_div button:hover, #add_new_key:hover {
    background-color: #917FC6;
    border: solid 1px #917FC6;
}

#change_password p {
    margin-top: 30px;
    margin-bottom: 40px;
}

#confirm_change_pwd {
  margin-top: 40px;
}

#forgot {
    position: absolute;
    right: 32px;
    text-align: right;
    text-decoration: none !important;
    border-bottom: dotted 1px #009C9C;
    padding-bottom: 3px;
    color: #009C9C;
}

.back_enabled {
    margin-top: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    pointer-events: none;
}


.back_enabled::before {
    background-image: url("../images/left-arrow.png");
    background-size: 35px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 34.88px;
    height: 30px;
    padding-right: 20px;
    vertical-align: -25%;
    pointer-events: all;
    cursor: pointer;
}

.back_disabled::before {
    content: none;
}

.error_div, .success_div {
    display: none;
    position: absolute;
    background-color: rgba(201, 53, 53, 0.74);
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 76px;
    padding: 15px 32px 16px 32px;
    color: white;
    font-family: Futura;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

.success_div {
  background-color: rgba(0, 156, 156, 0.74);
}

#forgot_div,
#unlock,
#register,
#add_key_div,
#add_account_div,
#message_account_checked,
#master_check,
#send_div,
#acc_transfers,
.account_info,
.account_info_content,
.memo,
.settings_child,
#pref_div,
#estimation_info,
#change_password {
    display: none;
}

#check_add_account {
    margin-top: 22px;
}

.red { color:red; }
.green { color:green; }
.key_checkbox {
    display: block;
    height: 32px;
    margin-bottom: 25px;
}

/* The container */

.checkbox_container {
    display: block;
    position: relative;
    padding-left: 55px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox_container div {
    margin-top: 5px;
    color: #006060;
}

.checkbox_container div:first-of-type {
    color: white;
    margin-top: 0px;
    text-transform: uppercase;
}

/* Hide the browser's default checkbox */

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 0.65);
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkbox_container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkbox_container .checkmark:after {
    left: 11.52px;
    top: 6.4px;
    width: 6.4px;
    height: 11.8px;
    border: solid #009C9C;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main_header {
    height: 30px;
}

.main_header img:first-of-type {
    width: 41.21px;
    height: 100%;
    float: left;
}

.main_header span {
    height: 30px;
    width: 244.79px;
    display: inline-block;
    text-align: right;
}

#lock,
#settings {
    height: 100%;
    width: auto;
    cursor: pointer;
}

#lock {
    margin-right: 19.8px;
    margin-left: 168.29px;
}

.custom-select {
    position: relative;
    width: 100% !important;
    height: 48.43px;
    border: 1px solid rgba(0, 96, 96, 0.29);
    border-radius: 5px;
    margin-top: 20px;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: rgba(0, 96, 96, 0.29);
    padding-left: 20px !important;
}

.select-selected:before {
    background-image: url("../images/arobase-light.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    padding-right: 15px;
    vertical-align: -25%;
    pointer-events: all;
    cursor: pointer;
}

/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-color: #88F7FB transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #88F7FB transparent;
    top: 11px;
}

/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    box-sizing: border-box;
    color: #88F7FB;
    font-family: Futura;
    font-size: 20px;
    line-height: 28px;
    padding: 9px 0px 8px 65px;
    border: 1px solid transparent;
    /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
		cursor: pointer;
		border-radius: 3px;
}

/*style items (options):*/

.select-items {
    position: absolute;
    background-color: rgba(0, 96, 96, 0.84);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.custom-select-main .select-items div:last-of-type {
    padding-left: 20px !important;
    text-transform: uppercase;
}

.custom-select-main .select-items div:last-of-type::before {
    background-image: url("../images/plus.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block !important;
    content: "";
    width: 30px;
    height: 30px;
    padding-right: 15px;
    vertical-align: -25%;
    pointer-events: all;
    cursor: pointer;
}

/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 96, 96, 1);
}

#currency_send {
    display: inline-block;
    width: 106px !important;
    /*height: 100% !important;*/
    margin-top: 0px;
    background-color: rgba(33, 172, 204, 0.75);
    height:48px;
    margin-bottom: 1px;
}

#currency_send .select-items div::before, #currency_send .select-selected::before {
    content: none;
    padding: 0;
}

#currency_send .select-items div, #currency_send .select-selected {
  padding-left: 10px !important;
}



#wallet_amt,
#wallet_currency {
    display: inline-block;
    height: 98px;
    text-align: right;
    font-size: 24px;
    line-height: 34px;
}

#wallet {
    display: inline-block;
    margin-left: -32px;
    width: 350px;
    margin-top: 26px;
    background-color: rgba(0, 156, 156, 0.4);
    box-sizing: border-box;
    margin-right: -32px;
    padding: 18px 0;
}

#wallet_amt div:last-of-type,
#wallet_currency div:last-of-type {
    color: #006060;
}

#wallet_currency {
    width: 72px;
    margin-left: 5px;
}

#wallet_amt {
    width: 209px;
    float: left;
    padding-left: 32px;
}

#voting_power {
    margin-top: 9.57px;
    color: white;
    line-height: 20px;
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#account_value {
    display: inline-block;
    margin: 0px -32px 10px -32px;
    width: 350px;
    background-color: rgba(0, 156, 156, 0.8);
    box-sizing: border-box;
    padding: 18px 0;

}

#account_value_header {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    pointer-events:none;
}

#account_value_header::after {
    content: "";
    background-image: url("../images/info.png");
    background-size: 12.25px 12.25px;
    display: inline-block;
    background-repeat: no-repeat;
    height: 12.25px;
    width: 12.25px;
    vertical-align: 8%;
    margin-left: 7px;
    pointer-events:auto;
    cursor: pointer;
}

#account_value_amt,
#account_value_currency {
    display: inline-block;
    height: 31px;
    text-align: right;
    font-size: 24px;
    line-height: 31px;
}

#account_value_currency {
    width: 72px;
    margin-left: 5px;
}

#account_value_amt {
    width: 209px;
    float: left;
    padding-left: 32px;
}

#send {
    margin-top: 14px;
}

#history {
    margin-top: 14px;
    margin-bottom: -35px;
}

#send_div input {
    padding-left: 10px;
}

#recipient {
  padding-left: 65px !important;
}

.transfer_balance {
  margin: 25px -32px 25px -32px;
  padding: 18px 0px 15.21px 0px;
  background-color: rgba(0, 156, 156,0.4);
  box-sizing: border-box;
  text-align: center;
}

.transfer_balance div:first-of-type {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
}

.transfer_balance div:last-of-type {
  font-size: 20px;
  line-height: 28px;
}

.memo {
    text-overflow: clip;
}


#amt_send {
    width: 167px !important;
    margin-right: 7px;
    text-align: right;
}
#send_transfer {
    display: block;
    padding: 0 20px 0 20px;
    font-size: 1em;
}

#acc_transfers .back_menu {
    margin-bottom: 30px;
}

#acc_transfers {
    width: 100%;
    height: 100%;;
}

#transfer_rows{
  height: 460px;
  overflow-y: scroll;
  margin-left:  -32px;
  margin-right:  -32px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
}

.memo {
  margin-top: 6px;
  font-style: italic;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.transfer_row {
  padding:11px 32px 11px 32px;
}

.transfer_row:nth-child(odd) {
  background-color: rgba(0, 156, 156,0.4);
}

.transfer_row:nth-child(even) {
  background-color: rgba(0, 156, 156,0.8);
}

.transfer_row span {
  display: inline-block;
}

.transfer_row span:nth-child(odd) {
  width: 186px;
}

.transfer_date, .transfer_val {
  margin-bottom: 6px;
}

.transfer_row span:nth-child(even) {
  width: 100px;
  text-align: right;
}

#settings_div {
  display: none;
  width: 100%;
}

.setting_row {
  display: flex;
  align-items: center;
  height:60px;
  width: 100%;
  margin:0px -32px 0px -32px;
  padding: 0 32px 0 32px;
  vertical-align: middle;
  cursor:pointer;
}

#settings_div div:first-of-type {
  margin-bottom: 46px;
}

.setting_row img {
  height:20.6px;
  margin-right: 35.8px;
}

.setting_row span {
  display: inline-block;
  margin-top: 0px;
  font-size: 16px;
}

.setting_row:nth-child(odd), .keys_info:nth-child(odd) {
  background-color: rgba(0, 156, 156,0.8);
}

.setting_row:nth-child(even), .keys_info:nth-child(even)  {
  background-color: rgba(0, 156, 156,0.4);
}

#about_div div:first-of-type {
    margin-bottom: 30px;
}

#manage_keys .back_pref {
    margin-bottom: 44px;
}

#manage_keys .usernames {
  margin-bottom: 24.6px;
}

.keys_info {
  position: relative;
  min-height: 80px;
  margin:0px -32px 0px -32px;
  padding: 11px 32px 10px 32px;
  box-sizing: border-box;
}

.keys_info div {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 10px;
  line-height: 10px;
}
.keys_info span {
  font-size: 16px;
  line-height: 16px;
}
.keys_info span:first-of-type {
  width:186px;
  float: left;
  display: inline-block;
}
.remove_key {
  cursor: pointer;
  display: inline-block;
  width: 100px;;
  color:#c93535;
  text-align: right;
}

.private_key {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.public_key {
  cursor: pointer;
}

.img_add_key {
  display: none;
  position: absolute;
  top: 0;
  width: 270px;
  height: 100%;
  padding-right: 32px;
  background-image: url('../images/plus_key.png');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center center;
  cursor: pointer;
}

#delete_account {
    margin-top: 40px;
    background-color: #8e0000;
}

#estimation_info div:first-of-type{
    margin-bottom: 46px;
}

#copied {
  width: 100%;
  height:34px;
  background-color: black;
  color:#88f7fb;
  padding: 0px 32px 0 32px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items:  center;
  justify-content: center;
}

#copied div::before{
    content: "";
    display: inline-block;
    height: 10.6px;
    width: 10.60px;
    background-image: url("../images/copy.png");
    background-repeat: no-repeat;
    background-size: 10.6px 10.6px;
    padding-right: 25px;
}

#copied div{
  width: 100%;
}

#fake_input {
  position: absolute;
        left: -9999px;
}

#add_key_div p {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 50px;
}

#add_key_div input {
  padding-left: 65px;
}

.deletePref {
  display: inline-block;
  width: 16px;
	height: 16px;
	cursor: pointer;
	margin-top: 4px;
}

.preferences-site-container {
	padding: 5px 10px;
}

#pref{
    margin-top: 40px;
}

#pref h4 {
	margin: 5px 0;
}

.pref_name {
  width:150px;
  display: inline-block;
  float: left;
}

#pref_div .back_pref {
  margin-bottom: 40px;
}

#witness_votes {
    display: block;
    height: 142px;
    background-color: rgba(0, 96, 96,0.9);
    position: absolute;
    bottom: 0;
    z-index: 4;
    width: 100%;
    padding: 45px 32px 0 32px;
    color: white;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
}

.witness_container {
  position: relative;
  display: inline-block;
  width: 136px;
  margin-top: 5px;
}
.witness_container button{
    width: 136px;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color:#1E8CA7;
    font-size: 12px;
    outline: inherit;
    padding: 0;
}

.witness_container button:hover{
    background-color: white !important;
}

.witness_container img {
    position: absolute;
    top: 6px;
    left: 9px;
    width: 20px;
    height: 20px;
}

#yabapmatt {
  margin-right: 10px;
}

#close_witness {
  width: 20px;
  cursor: pointer;
  height: 20px;
  position: absolute;
  top:12px;
  right:12px;
}
