@import '../../../../variable.scss';

.lease-market {
  .introduction {
    font-size: 16px;
    margin-bottom: 32px;
    padding: 0px 24px;
  }
  .react-tabs__tab-list {
    display: grid;
    grid-template-columns: 3fr 3fr 4fr;

    .react-tabs__tab {
      font-size: 16px;
      padding: 6px 10px;
    }
  }
  .progress-bar-container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-end;
    .label {
      padding: 0px 24px;
      font-size: 15px;
    }
  }
}
