.rpc-nodes-page {
  @include pageLayoutRowGap;
  padding: 0px 24px;
  .introduction {
    font-size: 16px;
  }

  .select-rpc-node-select,
  .select-rpc-node-select:hover,
  .select-rpc-node-select:focus {
    border: unset !important;
    background: rgba(33, 37, 41, 0.68);
  }
  .select-rpc-node-select {
    .react-dropdown-select-dropdown {
      border: unset;
      top: 54px;
      background-color: black;
    }
  }

  .selected-rpc-node-panel {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 12px 6px;
    box-sizing: border-box;
    width: 100%;
  }
  .selected-rpc-node-panel .selected-rpc-node,
  .select-rpc-item .rpc-name {
    font-size: 18px;
  }

  .select-rpc-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    padding: 12px;
    box-sizing: border-box;
    background: rgba(33, 37, 41, 0.68);

    &:hover,
    &.selected {
      background: $red;

      .erase-button {
        display: block;
      }
    }

    .erase-button {
      display: none;
      height: 16px;
      width: 16px;
    }
  }

  .react-dropdown-select-dropdown {
    max-height: 250px !important;
  }
}

.add-rpc-panel {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  .add-rpc-caption {
    @include caption();
    margin-top: 12px;
  }
}
