.evm-transaction-result {
  .tx-card {
    @include small-card();
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 16px;

    .amount-panel {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 16px;

      .transaction-status {
        flex: 1;
        text-align: right;
        @include icon-size(18px);
      }

      .amount-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include poppins400(15px);
        .status {
          font-style: italic;
          align-self: flex-start;
          font-size: 14px;
        }
      }
    }
    .buttons-panel {
      display: flex;
      column-gap: 16px;
      align-self: center;
      width: 100%;
    }
  }
  .transaction-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 75px;
    gap: 12px;
    margin: 12px;
  }
  .popup-container {
    .title-panel {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .title {
        @include poppins500(16px);
        color: var(--main-font-color);
      }
    }
    .gas-fee-panel {
      width: 100%;
      border: unset;
      padding: unset;
    }
  }
}
