.settings-main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 8px;
  padding-top: 8px;
  justify-content: space-between;
  .love-text {
    @include poppins500(15px);
    text-align: center;
    color: $dark-blue;
  }
  .link-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 8px;
    cursor: pointer;
    .network-icon {
      background: white;
      border-radius: 66px 66px 0px 0px;
      border: 1px solid $light-grey-border;
      padding: 14px 12px 8px 12px;
      &:hover {
        background: $red;
        border-radius: 66px 66px 0px 10px;
      }
    }
  }
}
