.create-account-step-two {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  row-gap: 16px;

  .keys-display {
    overflow: auto;
    font-size: 11px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    .keys-card {
      @include small-card;
      flex-direction: column;
      align-items: flex-start;

      .key-name,
      .key-label {
        @include poppins600(14px);
        color: var(--main-font-color);
      }
      .key {
        @include poppins400(12px);
        color: $light-grey;
      }
    }
  }

  .button-panel {
    display: flex;
    column-gap: 16px;
    margin-bottom: 24px;
  }
}
