.evm-provider-settings-page {
  @include pageLayoutRowGap;
  row-gap: 24px;
  padding: 0px 24px;
  margin-top: 3px;
  padding-bottom: 24px;

  .fields {
    @include fields-panel;

    .settings-section {
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      .section-fields {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
      }
    }
  }

  .provider-note {
    @include provider-note-base();
  }

  .warning-note {
    border: 1px solid rgba(227, 19, 55, 0.45);
  }

  .reload-note {
    border: 1px solid rgba(255, 255, 255, 0.08);
  }
}
