.home-page {
  height: 100%;

  .select-account-select {
    padding: 2px 10px 2px 16px !important;
    .selected-account-panel {
      padding: 12px 10px !important;
    }
  }
  .react-dropdown-select-dropdown-handle {
    margin-left: -10px !important;
  }
}

.loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 32px;

  .caption {
    font-size: 32px;
    color: white;
  }
}
