.home-page {
  margin: -24px;
  height: 100%;
}

.loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 32px;

  img {
    width: 80px;
    height: 80px;
    animation: rotate-stop 4s infinite linear;
    transform: rotate();
  }
  .caption {
    font-size: 32px;
    color: white;
  }
}

@keyframes rotate-stop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
