@import '../../../../variable.scss';

.wallet-history-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .filter-panel {
    padding: 0px 24px;
    .title-panel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      margin-bottom: 16px;
      .title {
        font-size: 16px;
      }
      .icon {
        height: 10px;
        width: 20px;
        transition-duration: 0.25s;
        transition-property: transform;
      }
    }

    .filters {
      max-height: 0;
      transition: max-height 0.25s;
      overflow: hidden;

      .filter-button {
        padding: 4px;
        border: 1px solid white;
        border-radius: 12px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        min-width: 60px;

        &.selected,
        &:hover {
          background: white;
          color: black;
        }
      }
      .search-panel {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        margin-bottom: 16px;
        .input-container {
          input {
            height: 30px;
            font-size: 14px;
            &:focus {
              box-shadow: unset;
            }
            &::-webkit-input-placeholder {
              font-size: 14px;
            }
          }
          .input-img.erase {
            top: 8px;
            height: 14px;
            width: 14px;
          }
        }
      }

      .filter-selectors {
        display: grid;
        grid-template-columns: 3fr 1px 1fr;
        margin-bottom: 16px;
        column-gap: 8px;
        max-height: calc(190px - 64px);
        .vertical-divider {
          width: 1px;
          height: 100%;
          background: white;
        }

        .types {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
          grid-template-rows: max-content;
          row-gap: 8px;
          column-gap: 8px;
          max-height: calc(190px - 54px);
          padding-right: 8px;
          overflow: auto;
        }

        .in-out-panel {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
        }
      }
    }

    &.filter-opened {
      .title-panel {
        .icon {
          transform: rotate(180deg);
        }
      }

      .filters {
        max-height: 190px;
        transition: max-height 0.25s;
      }
    }
  }

  .wallet-item-list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;

    .rotating-logo-container {
      min-height: 100px;
      flex: 1;
      display: flex;
      justify-content: center;
      .rotating-logo {
        align-self: center;
        justify-self: center;
        height: 50px;
        width: 50px;
      }
    }

    .wallet-history-item {
      background: $black-transparent;
    }

    .wallet-history-item:nth-child(even) {
      background: $red-transparent;
    }

    .empty-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      row-gap: 16px;
      padding: 32px 24px;
      box-sizing: border-box;
      font-size: 16px;

      .labels {
        display: flex;
        flex-direction: column;
      }

      .icon-component {
        height: 50px;
        width: 50px;
        font-size: 50px;
      }
    }

    .load-more-panel {
      padding: 16px;
      height: 62px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 4px;
      font-size: 16px;
      background: $black-transparent;
      opacity: 0.5;
      cursor: pointer;
      .icon-component {
        font-size: 20px;
        height: 20px;
        width: 20px;
      }
    }
  }

  .logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
