.dapp-status-details {
  cursor: default;
  padding: 20px;
  .popup-content {
    overflow-y: scroll;
    height: 90%;
    .dapp-status-details-wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 100%;
      row-gap: 24px;
      right: 0;
      line-height: 147%;
      .caption {
        padding: 0px;
      }
      .popup-title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        p {
          @include poppins400(18px);
          color: var(--main-font-color);
        }
        img {
          background-color: var(--background-color);
          border-radius: 50%;
        }
      }
      .account-section-title {
        @include poppins600(14px);
        color: var(--main-font-color);
        width: 100%;
      }
      .account-section-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .account-section-icon {
          display: none;
          svg path {
            stroke-width: 2;
          }
        }
      }

      .account-section-item:hover {
        .account-section-icon {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
  .overlay {
    margin: -20px;
  }
  .account-section-button-wrapper {
    width: 100%;
    padding: 10px 20px;
  }
  &.hidden {
    display: none;
  }
}
