@import '/src/variable.scss';

.witness-global-information {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .info-panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 16px;
    row-gap: 16px;

    .witness-info-data .info-last-update {
      font-size: 13px;
      color: white;
      font-style: italic;

      &.warning-red-color {
        color: $red-dark;
      }
    }
  }

  .witness-rewards-panel {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: stretch;
    justify-content: center;
    padding: 16px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;

    .title {
      font-size: 18px;
      align-self: center;
    }

    .rewards-row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .hp-value {
        font-size: 16x;
      }
      .usd-value {
        color: lightgrey;
        font-style: italic;
        font-size: 14px;
      }
    }
  }
}
