.vesting-routes-popup {
  .popup-footer {
    height: 12px !important;
    flex: unset !important;
  }
  .indicator-container {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    .dot {
      width: 8px;
      height: 8px;
      display: inline-block;
      margin: 0 8px;
      background: var(--main-font-color);
      border-radius: 50%;
      opacity: 0.4;
    }
    .selected {
      opacity: 1;
    }
  }
  .popup-content {
    width: -webkit-fill-available;
    margin: 0px 0px;
    row-gap: 16px !important;
  }
  .carousel-item-container {
    display: inline-block;
    width: 330px;
  }
  .vesting-routes-titles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .vesting-action-buttons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .vesting-action-button {
      width: 45%;
    }
  }
  .vesting-item-list-container {
    display: inline-block;
    height: 150px;
    width: 330px;
    overflow-y: scroll;
    .mandatory-select-option {
      margin-top: 8px;
      width: -webkit-fill-available;
      height: 48px;
      color: var(--main-font-color);
      background-color: var(--button-alternative-background-color);
      border: 1px solid var(--button-alternative-border-color);
      border-radius: 48px;
      padding: 8px;
    }
    .vesting-route-card-item {
      @include small-card();
      margin: 0px 0px;
      margin-bottom: 8px;
      flex-direction: column;
      .vesting-item-card-row-container {
        display: flex;
        flex-direction: row;
        width: -webkit-fill-available;
        justify-content: space-between;
        align-items: center;
      }
      .vesting-item-details-container {
        display: flex;
        flex-direction: column;
        font-size: 12px;
      }
    }
  }
  .margin-bottom-8px {
    margin-bottom: 8px;
  }
  .small-font {
    font-size: 12px;
  }
  .alignment-left {
    align-items: flex-start;
  }
  .alignment-right {
    align-items: flex-end;
  }
}
