@import './variable.scss';

@mixin background {
  background-image: url(assets/images/background.svg);
  background-repeat: no-repeat;
}

@mixin background-bottom {
  @include background;
  background-position-y: 135%;
}
@mixin background-top {
  @include background;
  background-position-y: 30%;
}

@mixin pageLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@mixin pageLayoutRowGap {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@mixin link {
  color: white;
  text-decoration: none;
  border-bottom: white 2px dotted;
  &:hover {
    border-bottom: $red 2px dotted;
    color: $red;
  }
}

@mixin fake-input {
  font-size: $input-font-size;
  padding: 7px;
  background: transparent;
  border: unset;
  border-bottom: $grey solid 1px !important;
  cursor: not-allowed;
  min-width: 50px;
  flex: 1;
  text-align: center;
}

@mixin caption($fontColor) {
  padding: 0px 30px;
  @include poppins400($caption-font-size);
  color: $fontColor;
}

@mixin icon-size($size) {
  height: $size;
  width: $size;
}

@mixin dmSans400($fontSize) {
  font-family: DM Sans;
  font-size: $fontSize;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
@mixin dmSans700($fontSize) {
  font-family: DM Sans;
  font-size: $fontSize;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

@mixin josefin500($fontSize) {
  font-family: Josefin Sans;
  font-size: $fontSize;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@mixin josefin700($fontSize) {
  font-family: Josefin Sans;
  font-size: $fontSize;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin poppins300($fontSize) {
  font-family: Poppins;
  font-size: $fontSize;
  font-style: italic;
  font-weight: 300;
  line-height: 147%;
}
@mixin poppins400($fontSize) {
  font-family: Poppins;
  font-size: $fontSize;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@mixin poppins500($fontSize) {
  font-family: Poppins;
  font-size: $fontSize;
  font-style: normal;
  font-weight: 500;
  line-height: 147%;
}
@mixin poppins600($fontSize) {
  font-family: Poppins;
  font-size: $fontSize;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin poppins700($fontSize) {
  font-family: Poppins;
  font-size: $fontSize;
  font-style: normal;
  font-weight: 700;
  line-height: 147%;
}

@mixin non-clickable {
  cursor: not-allowed;
  pointer-events: none;
}

@mixin form-panel {
  background: white;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  padding: 36px 20px;
  flex: 1;
  justify-content: space-between;
  .form-fields {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}

@mixin inter400($fontSize) {
  text-align: center;
  font-family: Inter;
  font-size: $fontSize;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}
