$dark: (
  --background: url('assets/images/background/dark.svg'),
  --main-font-color: white,
  --main-font-color-inverted: $dark-blue,
  --background-color: $dark-background,
  --splashscreen-text-color: white,
  --separator-color: $blue-border,
  // Home page
  --home-account-value-color: white,
  // Resource section
  --resource-item-icon-color: $dark-blue,
  --resource-item-icon-bg-color: #21283814,
  --resource-item-bg-color: white,
  //wallet
  --wallet-card-background: $darker-blue,
  --wallet-card-border: $blue-border,
  --wallet-card-darker-border: $blue-border,
  --wallet-card-opened-border: $blue-border,
  --wallet-icon-border-color: white,
  --wallet-icon-color: white,
  --wallet-icon-secondary-color: white,
  //top bar
  --keychain-logo-color: white,
  --back-button-color: white,
  --close-button-color: white,
  // Select
  --select-font-color: white,
  --select-icon-color: white,
  --select-border-color: $blue-border,
  --select-dropdown-bg-color: $darker-blue,
  // Menu
  --menu-background: $darker-blue,
  --menu-border-color: $blue-border,
  --menu-icon-color: $red,
  --menu-icon-border-color: $blue-border,
  --network-icon-bg-color: $darker-blue,
  // Bottom Bar
  --bottom-bar-border: $blue-border,
  --bottom-bar-icon-color: $red,
  --bottom-bar-background: $darker-blue,
);
$light: (
  --background: url('assets/images/background/light.svg'),
  --main-font-color: $dark-blue,
  --main-font-color-inverted: white,
  --background-color: $light-background,
  --splashscreen-text-color: $dark-blue,
  --separator-color: $extra-light-grey,
  // Home page
  --home-account-value-color: $darker-grey,
  // Resource section
  --resource-item-icon-color: white,
  --resource-item-icon-bg-color: #ffffff2b,
  --resource-item-bg-color: $dark-blue,

  // wallet
  --wallet-card-background: white,
  --wallet-card-border: $light-grey-border,
  --wallet-card-darker-border: $darker-grey-border,
  --wallet-card-opened-border: $darker-grey-border,
  --wallet-icon-border-color: $darker-grey-border,
  --wallet-icon-color: $dark-red,
  --wallet-icon-secondary-color: $dark-red,
  // Top
  --keychain-logo-color: $blue-border,
  --back-button-color: #292d32,
  --close-button-color: #292d32,
  // Select account section
  --select-font-color: $darker-grey,
  --select-icon-color: $darker-grey,
  --select-border-color: white,
  --select-dropdown-bg-color: white,
  // Menu
  --menu-background: white,
  --menu-border-color: #f3f3f3,
  --menu-icon-color: $red,
  --menu-icon-border-color: $light-grey-border,
  --network-icon-bg-color: white,
  // Bottom Bar
  --bottom-bar-border: $lighter-grey-border,
  --bottom-bar-icon-color: $red,
  --bottom-bar-background: white,
);

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}
