@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins&display=swap');

$red: #a5112c;
$blue: #212838;
$dark-grey: #484848;
$light-background: #e5edf5;
$dark-background: #212838;

$light-grey-border: #e3e1e1;

// OLD  STYLE REMOVE WHEN DONE
//colors

$red-dark: rgba(163, 17, 42, 1);
$grey-transparent: rgba(255, 255, 255, 0.2);
$black: #212529;
$red-transparent: rgba(227, 19, 55, 0.32);
$black-transparent: rgba(33, 37, 41, 0.68);
$grey: #7e8c9a;
$white-transparent: #ffffff6e;
$grey-dark: #6c757e;
$message-container-success: $black;
$message-container-info: black;
$message-container-error: $red-dark;

//sizes
$input-font-size: 16px;
$input-height: 36px;
$input-logo-size: 20px;
$input-hint-font-size: 15px;
$caption-font-size: 16px;

@mixin pageLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@mixin pageLayoutRowGap {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@mixin link {
  color: white;
  text-decoration: none;
  border-bottom: white 2px dotted;
  &:hover {
    border-bottom: $red 2px dotted;
    color: $red;
  }
}

@mixin fake-input {
  font-size: $input-font-size;
  padding: 7px;
  background: transparent;
  border: unset;
  border-bottom: $grey solid 1px !important;
  cursor: not-allowed;
  min-width: 50px;
  flex: 1;
  text-align: center;
}

@mixin caption {
  font-size: $caption-font-size;
}

@mixin icon-size($size) {
  height: $size;
  width: $size;
  font-size: $size;
}
