@import '../../../../../variable.scss';

.incoming-outgoing-page {
  @include pageLayout;

  .total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }

  .list {
    margin: 0px -24px;
  }
}
