@import '../../../../../variable.scss';

.incoming-outgoing-page {
  @include pageLayoutRowGap;
  row-gap: 32px;
  overflow: hidden;
  flex: 1;
  .panel {
    flex: 1;
    padding: 0px 24px;
    overflow: hidden;
    .tooltip-container {
      width: 100%;
    }
    &.pending-undelegations {
      flex: unset;
      max-height: 50%;
    }
    .total {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      margin-bottom: 4px;
      .label {
        max-width: 60%;
      }
    }

    .list {
      margin: 0px -24px;
      margin: 0px -24px;
      max-height: calc(100% - 24px);
      overflow: auto;
    }
  }
}
