@import '../../../../../variable.scss';

.incoming-outgoing-page {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }

  .list {
    margin: 0px -24px;
  }
}
