.svg-icon {
  div {
    height: 100%;
    width: 100%;
  }
  &.clickable {
    cursor: pointer;
  }
}
@media (resolution >= 2dppx) {
  .svg-icon {
    --menu-icon-border-width: #{$border-width};
  }
}
@media (resolution < 2dppx) {
  .svg-icon {
    --menu-icon-border-width: #{$border-width-low-resolution};
  }
}
