.balance-change-panel {
  color: var(--main-font-color);
  .balance-change-title {
    align-self: flex-start;
  }

  .insufficient-balance {
    @include poppins400(12px);
    color: $red;
  }

  .balance-panel {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    line-height: 24px;
    width: 100%;
    @include poppins400(14px);
    .balance-after {
      text-align: right;
    }
    .balance-before {
      text-align: left;
    }

    .icon {
      --triangle-arrow-color: #{$red};
      @include icon-size(24px);
    }
  }
}
