.clear-all-data-page {
  @include pageLayoutRowGap;
  padding: 0px 24px;
  .introduction {
    @include caption();
  }

  .bottom-panel {
    position: absolute;
    left: 24px;
    bottom: 32px;
    width: calc(100% - 48px);
    display: flex;
    column-gap: 16px;
  }
}
