.App {
    height: 600px;
    width: 300px;
    font-family: Futura !important;
    font-weight: 400;
    background: url("/assets/images/hive-watermark.png") 0% 0% no-repeat
    padding-box, linear-gradient(330deg, #59626c 0%, #000000 100%) 0%
    0% no-repeat padding-box !important;

    color: white;

}