//colors
$red: #e31337;
$red-dark: rgba(163, 17, 42, 1);
$grey-transparent: rgba(255, 255, 255, 0.2);
$black: #212529;
$red-transparent: rgba(227, 19, 55, 0.32);
$black-transparent: rgba(33, 37, 41, 0.68);
$grey: #7e8c9a;
$grey-dark: #6c757e;
$message-container-success: $black;
$message-container-info: black;
$message-container-error: $red;

//sizes
$input-font-size: 16px;
$input-height: 36px;
$input-logo-size: 20px;
$input-hint-font-size: 15px;

@mixin pageLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@mixin pageLayoutRowGap {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@mixin link {
  color: white;
  text-decoration: none;
  border-bottom: white 2px dotted;
  &:hover {
    border-bottom: $red 2px dotted;
    color: $red;
  }
}
