$red: #e31337;
$red-dark: rgba(163, 17, 42, 1);
$grey-transparent: rgba(255, 255, 255, 0.2);
$black: #212529;
$red-transparent: rgba(227, 19, 55, 0.32);
$black-transparent: rgba(33, 37, 41, 0.68);
$grey: #7e8c9a;
$message-container-success: $black;
$message-container-info: black;
$message-container-error: $red;

@mixin pageLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@mixin pageLayoutRowGap {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
