$red: #e31337;
$red-dark: rgba(163, 17, 42, 1);
$grey-transparent: rgba(255, 255, 255, 0.2);
$black: #212529;

$message-container-success: #005c09;
$message-container-info: black;
$message-container-error: $red;
