@import '../../../../../../../variable.scss';

.account-authorities-list-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 18px;

  .weight {
    text-align: center;
  }

  .top-panel {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    padding: 0 8px;

    .key-name {
      .name {
        text-transform: uppercase;
      }
    }
  }

  .account-auths-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: space-between;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 52px;
      &:hover {
        .buttons-item {
          display: flex;
          justify-content: flex-end;
          padding: 0px 4px;
        }
      }

      &:nth-child(even) {
        background: $red-transparent;
      }

      .buttons-item {
        display: none;
      }

      .item-account {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        padding-left: 8px;
        cursor: pointer;

        .account-img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
        .account-name {
          padding-left: 8px;
          padding-right: 8px;
        }
      }

      .remove-button {
        color: white;
        cursor: pointer;
        padding-bottom: 0px !important;
      }
    }
  }

  .padding-left {
    padding-left: 8px;
  }
}
