@import '../../../../../../../variable.scss';

.account-authorities-list-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .text-centered {
    text-align: center;
  }

  .top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .key-name {
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  .account-auths-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: space-between;
    font-size: 16px;

    .titles {
      display: grid;
      font-weight: bold;
      grid-template-columns: 3fr 2fr 1fr;
    }

    .title {
      font-size: 16px;
    }

    .item {
      display: grid;
      grid-template-columns: 3fr 2fr 1fr;
      &:hover {
        background-color: $red-transparent;

        .buttons-item {
          display: inline;
        }
      }

      &:nth-child(even) {
        background: $red-transparent;
      }

      .buttons-item {
        display: none;
      }

      .item-account-name {
        display: grid;
        grid-template-columns: 3fr 2fr;

        .item-flex-justify-center {
          display: flex;
          justify-items: center;
        }
      }

      .remove-button {
        color: white;
        cursor: pointer;
        font-size: 16px;
        &:hover {
          color: $black-transparent;
        }
      }
    }
  }
}
