.nft-gallery {
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;

  .no-nfts-found {
    @include no-data-panel(50px);
    flex: 1;
  }

  .rotating-logo {
    align-self: center;
  }
}
