@import '../../../../../../variable.scss';

.favorite-accounts-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 12px;

  .buttons {
    display: none;
  }

  &:hover {
    .buttons {
      display: flex;
    }
  }

  .item {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  .remove-button {
    color: white;
    cursor: pointer;
    font-size: 22px;
    &:hover {
      color: $red-dark;
    }
  }

  .edit-button {
    color: white;
    cursor: pointer;
    font-size: 26px;
    &:hover {
      color: $red-dark;
    }
  }
}
