@import '../../../../../../variable.scss';

.token-incoming-outgoing-page {
  @include pageLayoutRowGap;
  row-gap: 32px;
  padding: 0px 24px;

  .cooldown-message {
    font-size: 18px;
  }

  .total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }

  .list {
    margin: 0px -24px;
  }
}
