{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@common-style": "./src/common-style",
          "@hiveapp": "./src/multichain-container/hive",
          "@popup": "./src/popup",
          "@background": "./src/background",
          "@interfaces": "./src/interfaces",
          "@reference-data": "./src/reference-data",
          "@api": "./src/api",
          "@dialog": "./src/dialog",
          "@common-ui": "./src/common-ui"
        },
        "extensions": [".js", ".json", ".ts", ".jsx"]
      }
    ]
  ]
}
