# These environment variables will only work in dev
# Copy to .env

# These environment variables will only work in dev
# Copy to .env

DEV_CLAIM_FREQUENCY=
DEV_CLAIM_ACCOUNT_RC_PCT=
DEV_CLAIM_ACCOUNT_MIN_RC=
DEV_CLAIM_SAVINGS_DELAY=
DEV_ANALYTICS_FREQUENCY=
DEBUG_LOG=
CROWDIN_TOKEN=''
CROWDIN_PROJECT_ID=''
_TEST_USERNAME=
_TEST_MASTER=
_TEST_OWNER=
_TEST_OWNER_PUB=
_TEST_ACTIVE=
_TEST_ACTIVE_PUB=
_TEST_POSTING=
_TEST_POSTING_PUB=
_TEST_MEMO=
_TEST_MEMO_PUB=
_TEST_USER_PWD=
_TEST_USER_ENCRYPTED_ACCOUNTS=
KEYCHAIN_API_DEV=
TRANSAK_DEV_API_KEY=
LEASE_MARKET_API_DEV=
DEV_AUTO_LOAD_PAGE=
GOOGLE_ANALYTICS_TAG_ID=
GOOGLE_ANALYTICS_DEV_MODE=false
TEST_LOADER_MIN_DURATION=
DEV_PLUGIN_ID=
DEV_SWAP_ACCOUNT=
DEV_SWAP_AUTO_REFRESH=
KEYCHAIN_SWAP_API_DEV=
MULTISIG_BACKEND_SERVER=
INFURA_PROJECT_ID=
INFURA_SECRET=
INFURA_API=
# Only for dev
FORCED_EVM_WALLET_ADDRESS=
EVM_DATA_EXPIRATION_TIME=86400000