body
{
  font-family: "Helvetica Neue ", Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin:5px;
  width: 320px;
  min-height: 450px;
  padding: 15px;
  --steem-dark-blue:#1a509a;
  --steem-light-blue:#4ba2f2;
}

#add_key_div,#add_account_div,#message_account_checked,#master_check, .account_info, .account_info_content,.memo{
  display: none;
}
#acc_transfers{
  margin-bottom: 20px;
}
#add_account{
  margin-top: 20px;
  cursor: pointer;
  color:var(--steem-light-blue);
  font-weight: bold;
  font-size: 1.2em;
}
.back_menu {
    cursor: pointer;
    padding-left: 30px;
    padding-right: 20px;
    background-image: url(images/new-back.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-size: contain;
    color: #376FA7;
}

.account_row,.account_info_menu{
  width: 100%;
  white-space:nowrap;
  overflow:hidden;
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1.2em;
}

.account_row:hover,.account_info_menu:hover{
  color:var(--steem-dark-blue);
}

.account_name, .transfer_name
{
  float:left;
}

.acc_keys,.transfer_val {
  display: block;
  text-align: right;
}

.acc_key {
	padding-top:2px;
	padding-bottom:2px;
	font-size: 12px;
	display: inline-block;
	border-radius: 25px;
	border: 1px solid var(--steem-light-blue);
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
  margin-left: 10px;
}
.acc_key:first {
  margin-left: 0px;
}

#add_account_div  input{
  margin-bottom: 20px;
  margin-right: 15px;
}

#master_check input{
  margin-right: 5px;
}

#master_check label{
  margin-right: 15px;
}

.account_info_menu{
    cursor: pointer;
    line-height: 40px;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
}
.account_info_menu img{
  height: 15px;
  vertical-align: middle;
  transform-origin: top left;
  /* IE 10+, Firefox, etc. */
  -webkit-transform-origin: top left;
  /* Chrome */
  -ms-transform-origin: top left;
  /* IE 9 */
  margin-right: 40px;
}

.rotate180 img {
  transform: rotate(180deg) translate(-100%, -100%);
  -webkit-transform: rotate(180deg) translate(-100%, -100%);
  -ms-transform: rotate(180deg) translateX(-100%, -100%);
}

.red{color:red;}
.green{color:green;}
.memo{
  text-overflow: clip;
  margin-top: 5px;
}
.italic{font-style: italic;}
input{
  width: 82%;
  margin-bottom: 10px;
  font-size: 1em;
}
#amt_send{
  width: 55%;
}
#currency{
  width: 25%;
  font-size: 1em;
}
#send_transfer{
  display: block;
  padding:0 20px 0 20px;
  font-size: 1em;
  margin-top: 10px;
}

#message_send_transfer{
  margin-top: 10px;
}

.type_key{
  padding-top:2px;
  padding-bottom:2px;
  font-size: 12px;
  display: inline-block;
  border-radius: 25px;
  border: 1px solid var(--steem-light-blue);
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  float:left;
  text-transform: capitalize;
  margin-right: 10px;
  margin-top: 10px;
}
.div_keys{
  width:280px;
  display: inline-block;
}
.privKey, .pubKey{
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-right: 10px;
  width:200px;
  vertical-align: middle;

}

.pubKey{
  color: grey;
  font-style: italic;
}

.copyKey{
  content: url("images/copy.png");
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.deleteKey{
  content: url("images/delete.png");
  height: 20px;
  cursor: pointer;
}

#add_key{
  margin-top: 20px;
  cursor: pointer;
  color:var(--steem-light-blue);
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
