.edit-contact-item {
  .delete-icon {
    display: none;
    @include icon-size(16px);
  }
  .contact-label-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .contact-label {
      display: flex;
      align-items: center;
      column-gap: 8px;
      color: var(--main-font-color);
      @include poppins500($input-font-size);
      cursor: pointer;
      .user-picture {
        @include user-avatar;
      }
    }

    &:hover {
      .delete-icon {
        display: block;
      }
    }
    @include hint;
  }
  .edit-contact-input-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
  }
  &.edit-mode {
    @include small-card;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: stretch;
  }
}
