.wallet-info-row {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  align-items: center;
  row-gap: 8px;
  position: relative;
  padding: 8px 24px;
  box-sizing: border-box;
  scroll-margin: 12px;
  border-radius: 22px;
  border: 1px solid $light-grey-border;
  cursor: pointer;

  &.opened {
    background: #f7f8f9;
  }

  .information-panel {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 8px;
    .currency-icon {
      background: $light-blue;
      padding: 6px;
      border-radius: 50%;
      @include icon-size(24px);
      &.green {
        background: $light-green;
      }
      &.red {
        background: $light-red;
      }
    }

    .history-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border: 1px solid $extra-light-grey;
      border-radius: 13px;
      padding: 10px;

      &:hover {
        background: $dark-red;
      }
    }

    .main-value-label {
      flex: 1;
      color: #3d3d3d;
      @include poppins500(18px);
    }

    .value {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .main-value {
        color: #242424;
        @include poppins700(14px);
      }
      .sub-value {
        color: #929292;
        @include poppins400(12px);
      }
    }
  }

  .actions-panel {
    display: flex;
    column-gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .token-info-panel {
    @include poppins500(12px);
    color: $dark-blue;
    opacity: 0.7;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .delegation-line {
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
  }
}
