.wallet-info-row {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  align-items: center;
  row-gap: 8px;
  position: relative;
  padding: 8px 24px;
  box-sizing: border-box;
  scroll-margin: 12px;
  border-radius: 22px;
  border: 1px solid var(--wallet-card-border);
  cursor: pointer;

  &.opened {
    border: 1px solid var(--wallet-card-opened-border);
  }

  .information-panel {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 16px;
    .currency-icon {
      @include icon-size(36px);
      &.add-background {
        background: $light-blue;
        padding: 6px;
        border-radius: 50%;
        @include icon-size(24px);
      }
    }

    .history-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      --wallet-history-icon-color: #{$red};
      --wallet-icon-border-color: var(--wallet-card-border);
      --wallet-icon-background: transparent;
      &:hover {
        --wallet-icon-background: #{$red};
        --wallet-icon-color: white;
        --wallet-icon-border-color: #{$red};
      }
    }

    .main-value-label {
      flex: 1;
      color: var(--main-font-color);
      @include poppins500(18px);
    }

    .value {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .main-value {
        color: var(--main-font-color);
        @include poppins700(14px);
      }
      .sub-value {
        color: #929292;
        @include poppins400(12px);
      }
    }
  }

  .actions-panel {
    display: flex;
    column-gap: 8px;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .token-info-panel {
    @include poppins500(13px);
    color: var(--main-font-color);
    opacity: 0.7;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .token-info-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      column-gap: 8px;

      .label {
        text-align: left;
      }
      .value {
        text-align: right;
      }
      .icon {
        @include icon-size(16px);
      }
    }

    &.has-button-in-list {
      .token-info-row {
        grid-template-columns: 1fr 1fr 16px;
      }
    }
  }
}
