.register-keyless-dialog {
  display: grid;
  grid-template-rows: 70px 1fr;
  height: 100%;
  padding: 0 24px;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .caption {
    @include caption();
    font-size: a {
      color: $red;
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: auto;
    padding-bottom: 24px;
  }

  .qr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    position: relative;

    .qr-code {
      position: relative;
      margin-bottom: 10px;
    }

    .expire-seconds {
      text-align: center;
      font-size: 14px;
      color: #666;
      // margin-top: 5px;
    }
  }
}
