@import '/src/common-style/variable.scss';

.checkbox-container {
  font-size: $input-font-size;
  .checkbox-and-label {
    display: flex;
    align-items: flex-start;
    .pretty {
      margin-right: 16px;
    }

    .label {
      cursor: pointer;
      user-select: none;
    }
  }

  .hint {
    font-style: italic;
    margin-top: 2px;
    font-size: $input-font-size;
  }

  &.align-top {
    .label {
    }
  }

  &.align-center {
    .checkbox-and-label {
      align-items: center;
    }
  }

  &.disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
    .checkbox-and-label {
      .label {
        cursor: not-allowed;
      }
    }
    .pretty input {
      cursor: not-allowed;
    }
  }
}
