.modal-container {
  .popup-content {
    width: 100%;
    min-height: 200px;

    .modal-title {
      @include poppins400(16px);
      color: var(--main-font-color);
    }
    .modal-content {
      width: 100%;
      color: var(--main-font-color);
    }
  }
}
