@import '/src/common-style/variable.scss';

.confirmation-page {
  @include pageLayoutRowGap;
  .confirmation-top {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .introduction {
      font-size: 18px;
      padding: 0px 24px;
    }

    .warning-message {
      font-size: 18px;
      color: $red;
      padding: 0px 24px;
    }

    .fields {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      background: $grey-transparent;
      max-height: 324px;
      overflow: auto;
      padding: 16px 24px;
      .field {
        .label {
          font-size: 18px;
          font-weight: bold;
        }
        .value {
          font-size: 16px;

          &.xs-font {
            font-size: 11px;
          }
        }
      }
    }
  }

  .bottom-panel {
    position: fixed;
    left: 24px;
    bottom: 32px;
    width: calc(100% - 48px);
    display: flex;
    column-gap: 16px;
  }
}
