.confirmation-page {
  @include pageLayoutRowGap;
  .confirmation-top {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 0px 24px;
    .introduction {
      padding: 0px 32px;
      @include caption;
    }

    .warning-message {
      @include caption;
      color: $red;
    }

    .fields {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      max-height: 324px;
      overflow: auto;
      padding: 16px 24px;
      color: var(--main-font-color);
      background: var(--card-background);
      border-radius: 20px;
      border: 1px solid var(--card-border);
      .field {
        display: flex;
        justify-content: space-between;
        .label {
          @include poppins500(14px);
        }
        .value {
          @include poppins400(14px);
          &.xs-font {
            font-size: 11px;
          }
        }
      }
    }
  }

  .bottom-panel {
    position: fixed;
    left: 24px;
    bottom: 32px;
    width: calc(100% - 48px);
    display: flex;
    column-gap: 16px;
  }
}
