.confirmation-page {
  @include pageLayoutRowGap;
  .confirmation-top {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 0px 24px;
    flex: 1;
    &.twofa {
      max-height: 400px;
    }
    .introduction {
      padding: 0px 32px;
      @include caption;
      @include small-card;
      display: unset;
      margin: unset;
    }

    .warning-message-panel {
      @include caption;
      color: $red;
      @include small-card;
      display: unset;
      margin: unset;
    }

    .multisig-message {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      padding: 0 30px;
      .message {
        @include caption;
        padding: 0px;
      }
      .logo {
        height: 24px;
        width: auto;
      }
    }

    .fields {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      max-height: 324px;
      overflow: auto;
      padding: 16px 24px;
      color: var(--main-font-color);
      background: var(--card-background);
      border-radius: 20px;
      border: 1px solid var(--card-border);

      .field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .label {
          @include poppins500(14px);
        }
        .value {
          max-width: 70%;
          text-align: right;
          user-select: text;
          @include poppins400(14px);
          &.xs-font {
            font-size: 11px;
          }
        }
      }
    }

    .balance-change-panel {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      align-items: flex-start;
      color: var(--main-font-color);
      .balance-change-title {
        align-self: flex-start;
      }

      .balance-panel {
        display: flex;
        flex: 1;
        column-gap: 8px;
        align-items: center;
        line-height: 24px;
        justify-content: space-between;
        width: 100%;
        @include poppins400(14px);

        .icon {
          --triangle-arrow-color: #{$red};
          @include icon-size(24px);
        }
      }
    }
  }

  .bottom-panel {
    position: absolute;
    left: 0px;
    bottom: 32px;
    width: calc(100% - 48px);
    display: flex;
    column-gap: 16px;
    padding: 0px 24px;
    padding-bottom: 16px;
  }
  .evm-bottom-panel {
    width: calc(100% - 48px);
    display: flex;
    column-gap: 16px;
    padding: 0px 24px;
    padding-bottom: 16px;
  }
}
