@import '/src/popup/variable.scss';

.confirmation-page {
  @include pageLayoutRowGap;
  .confirmation-top {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .introduction {
      font-size: 18px;
      margin-bottom: 8px;
      margin-top: 20px;
    }

    .warning-message {
      font-size: 18px;
      color: $red;
    }

    .field {
      .label {
        font-size: 18px;
        font-weight: bold;
      }
      .value {
        font-size: 16px;
      }
    }
  }

  .bottom-panel {
    position: fixed;
    left: 24px;
    bottom: 32px;
    width: calc(100% - 48px);
    display: flex;
    column-gap: 16px;
  }
}
