@import '../../../../variable.scss';

.tokens-page {
  @include pageLayoutRowGap;
  row-gap: 32px;
  overflow: hidden;
  flex: 1;
  .disclaimer {
    font-size: 18px;
    padding: 0px 24px;
  }

  .settings {
    height: 24px;
    width: 24px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: -18px;
    margin-right: 24px;
  }

  .my-tokens {
    overflow: auto;
    .token-item {
      background: $red-transparent;
      &:nth-child(even) {
        background: $black-transparent;
      }
    }
  }

  .no-tokens {
    font-size: 18px;
    padding: 0px 24px;
  }

  .rotating-logo-container {
    min-height: 100px;
    display: flex;
    justify-content: center;
    .rotating-logo {
      align-self: center;
      justify-self: center;
      height: 50px;
      width: 50px;
    }
  }
}
