@import '/src/common-style/variable.scss';
@import '/src/common-style/mixins.scss';

.reset-password-page {
  @include pageLayoutRowGap;
  padding: 0px 24px;
  .confirmation-top {
    .introduction {
      @include poppins400(14px);
      color: $dark-blue;
      padding: 0px 30px;
    }
  }
}
