.evm-account-display {
  display: grid;
  grid-template-columns: 40px 1fr 20px;
  align-items: center;
  width: 100%;
  .evm-dapp-status-container {
    background-color: var(--background-color);
  }
  .account-info {
    flex-direction: column;
    margin-left: 20px;

    .top-line {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .account-name {
        @include poppins600(14px);
        color: var(--main-font-color);
        .edit-account-name {
          cursor: pointer;
          margin-left: 6px;
        }
      }
      .hide-token {
        justify-content: flex-end;
        cursor: pointer;
        color: var(--main-font-color);
      }
    }
    .bottom-line {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .account-address {
        @include poppins400(14px);
        color: var(--main-font-color);
        flex-direction: row;
        display: flex;
        column-gap: 6px;
        &.full-address {
          @include poppins400(11px);
        }
      }
    }
  }
  .action-panel {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .copy-icon {
      visibility: hidden;
      justify-content: flex-end;
      cursor: pointer;
      color: var(--main-font-color);
      svg path {
        stroke: var(--main-font-color);
      }
    }
  }

  &:hover {
    .action-panel {
      .copy-icon {
        visibility: visible !important;
      }
    }
  }
}
