.evm-account-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  .account-info {
    flex-direction: column;
    margin-left: 30px;
    .account-name {
      @include poppins600(14px);
      color: var(--main-font-color);
    }
    .account-address {
      @include poppins400(14px);
      color: var(--main-font-color);
    }
  }
}
