@import '../../../../variable.scss';

.witness-voting-page {
  @include pageLayoutRowGap;

  .disclaimer,
  .remaining-votes {
    font-size: 20px;
  }

  .react-tabs__tab-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 32px !important;

    .react-tabs__tab {
      text-align: center;
      font-size: 18px;
      background: $black-transparent;
      color: white;
      user-select: none;
    }
    .react-tabs__tab--selected {
      background: $red-dark;
      border: unset;

      &::after {
        display: none;
      }
    }
  }
}
