.custom-checkbox-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  user-select: none;
  .custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    border-radius: 4px;
    border: 1px solid var(--input-border);
    background: var(--checkbox-background);

    .svg-icon {
      @include icon-size(12px);
      div {
        display: flex;
      }
    }
  }
  .label {
    user-select: none;
    @include input-label;
    color: var(--main-font-color);
    margin-bottom: 0px;
  }

  &.disabled {
    cursor: not-allowed;
  }
}
