@import '../../../../../../../variable.scss';

.witness-global-information {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .label-title {
    font-weight: bold;
  }

  .smaller-text {
    font-size: 12px;
  }

  .row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .data-clickeable {
    display: flex;
    flex-direction: row;
    row-gap: 4px;
    align-items: center;
    cursor: pointer;
    padding-bottom: 0px !important;
  }

  .info-last-update {
    text-align: right;
    font-size: 16px;
    color: white;
    font-style: italic;
  }

  .warning-red-color {
    color: red;
  }

  .witness-rewards-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;

    .reward-column {
      text-align: center;
      background: $red-transparent;
      padding-bottom: 4px !important;
      &:nth-child(even) {
        background: $black-transparent;
      }
    }

    .reward-column-title {
      font-weight: bold;
    }
  }

  .centered-text {
    text-align: center;
  }
}
