.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 6;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #212838;
    z-index: 4;
  }
  .message-card {
    z-index: 6 !important;
    width: 100%;
    margin: 0px 24px;
    position: relative;
    background: var(--card-background);
    border: 1px solid var(--card-border);
    z-index: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    row-gap: 12px;
    max-width: 500px;
    .title {
      text-align: center;
      @include dmSans700(20px);
      color: var(--main-font-color);
      &.success {
        color: $green-success;
      }
    }
    .message {
      text-align: center;
      @include dmSans400(15px);
      color: var(--main-font-color);
      user-select: all;
    }
  }
}
