.small-data-card {
  display: flex;
  flex-direction: column;
  @include small-card();
  margin: unset;
  align-items: flex-start;

  .image {
    width: 100%;
  }

  .label {
    color: var(--main-font-color);
    @include poppins600(14px);
  }

  .value {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @include poppins300(13px);
    font-style: italic;
    color: var(--main-font-color);
    width: 100%;
    &.clickable {
      display: flex;
      flex-direction: row;
      row-gap: 4px;
      align-items: center;
      cursor: pointer;
      padding-bottom: 0px !important;
    }
    .icon-component {
      @include icon-size(13px);
    }
  }
  &.image {
    grid-row: span 3;
    justify-content: space-between;
  }
}
