@import '/src/common-style/variable.scss';

.tokens-settings {
  @include pageLayoutRowGap;
  row-gap: 32px !important;
  padding: 0px 24px;

  .hive-engine-rpc-panel,
  .hive-engine-account-history-panel {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    .select-title {
      font-size: 18px;
    }
    .select-panel,
    .new-item-panel {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 16px;
      align-items: center;
    }
  }

  .select-hive-engine-rpc-node-select,
  .select-account-history-api-select {
    &,
    &:focus,
    &:hover {
      border: unset !important;
      background: rgba(33, 37, 41, 0.68);
    }
  }
  .select-hive-engine-rpc-node-select,
  .select-account-history-api-select {
    .react-dropdown-select-dropdown {
      border: unset;
      top: 54px;
      background-color: black;
    }
  }

  .selected-panel {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 12px 6px;
    box-sizing: border-box;
    width: 100%;
  }
  .selected-panel,
  .select-item {
    font-size: 16px;
  }

  .select-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    padding: 12px;
    box-sizing: border-box;
    background: rgba(33, 37, 41, 0.68);

    &:hover,
    &.selected {
      background: $red;

      .erase-button {
        display: block;
      }
    }

    .erase-button {
      display: none;
      height: 16px;
      width: 16px;
    }
  }

  .react-dropdown-select-dropdown {
    max-height: 250px !important;
  }
}
