.delegation-row {
  @include small-card();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 6px;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px 16px;
    width: 100%;

    .username {
      @include poppins400(12px);
      flex: 1;
    }
    .item-details {
      display: flex;
      align-items: center;
      column-gap: 16px;
      box-sizing: border-box;
      .value {
        @include poppins400(12px);
      }
      .expand-collapse-icon {
        @include open-close-rotate();
        @include icon-size(18px);
      }
      .edit-panel {
        display: flex;
        align-items: center;
        column-gap: 4px;

        .edit-label {
          border: unset;
          border-bottom: 1px solid var(--card-border);
          min-width: unset;
          outline: none !important;
          width: 100px;
          margin-right: 8px;
          background: transparent;
          color: var(--main-font-color);
          &:focus {
            border: unset;
            border-bottom: 1px solid var(--card-border);
          }
        }
      }
    }
  }

  .expanded-panel {
    display: flex;
    flex-direction: column;

    .expandable-panel-content {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      padding: 12px 42px;

      .delegation-item-button {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-radius: 13px;
        border: 1px solid var(--card-border);
        padding: 8px 24px;
        cursor: pointer;
        .label {
          @include josefin500(14px);
          color: var(--main-font-color);
        }
        &:hover {
          box-shadow: 0px 4px 9px 0px var(--button-alternative-shadow-color);
        }
        .svg-icon {
          @include icon-size(30px);
        }
      }
    }
  }

  .pending-undelegation {
    display: flex;
    flex: 1;
    .expiration-date {
      flex: 1;
    }
  }
}
