@import '../../../variable.scss';

.reset-password-page {
  @include pageLayoutRowGap;
  row-gap: 32px;
  .confirmation-top {
    min-height: 475px;
    .introduction {
      font-size: 18px;
    }
  }
}
