@import '../../../variable.scss';

.reset-password-page {
  @include pageLayoutRowGap;
  row-gap: 16px;
  .confirmation-top {
    .introduction {
      min-height: 300px;
      font-size: 18px;
    }
  }
}
