@import '../../../../../../../variable.scss';

.witness-information-parameters {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .label-title {
    font-weight: bold;
  }

  .smaller-text {
    font-size: 12px;
  }

  .disabled-text {
    text-transform: uppercase;
    color: red;
    text-align: center;
    font-weight: bold;
  }

  .row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
