.account-authorities-list-item {
  &.settings-hive-dapps-site {
    padding: 8px 0;
  }

  .account-authorities-tags-panel {
    padding-left: 0;
  }

  .account-authority-tag {
    .item-account,
    .delete-button {
      align-items: center;
      background: transparent;
      border: none;
      color: var(--main-font-color);
      cursor: pointer;
      display: flex;
      padding: 0;
    }

    .item-account {
      min-width: 0;
    }

    .account-img {
      border-radius: 50%;
      flex-shrink: 0;
      height: 20px;
      width: 20px;
    }

    .account-name {
      @include poppins400(12px);
      color: var(--main-font-color);
      overflow: hidden;
      padding-left: 6px;
      text-overflow: ellipsis;
    }

    .delete-button {
      height: 12px;
      width: 12px;
    }
  }
}
