.account-authorities-list-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 18px;

  .weight {
    text-align: center;
  }

  .top-panel {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    padding: 0 20px;

    .key-name {
      .name {
        @include poppins400(14px);
        color: var(--main-font-color);
      }
    }
  }

  .account-auths-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    row-gap: 8px;

    .item {
      @include small-card;

      .buttons-item {
        display: none;
      }

      .item-account {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        padding-left: 8px;
        cursor: pointer;
        flex: 1;

        .account-img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
        .account-name {
          padding-left: 8px;
          padding-right: 8px;
          color: var(--main-font-color);
        }
      }
      .delete-button {
        height: 20px;
        width: 20px;
        display: none;
      }

      &:hover {
        .delete-button {
          display: block;
        }
      }
    }
  }

  .padding-left {
    padding-left: 8px;
  }
}
