@import '/src/variable.scss';

@font-face {
  font-family: Futura;
  src: url('/assets/fonts/Futura-Boo.otf');
  font-weight: 400;
}

html {
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  #root {
    display: block;
    height: 100%;
  }
}
//TODO: Same as import / would be better of as variable
.dialog {
  font-family: Futura !important;
  height: 100%;
  background: url('/assets/images/hive-watermark.png') 0% 0% no-repeat
      padding-box,
    linear-gradient(330deg, #59626c 0%, #000000 100%) 0% 0% no-repeat
      padding-box !important;
  color: white;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

pre {
  font-family: Futura !important;
  margin: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border-radius: 4px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e31337;
}
