@import '/src/popup/variable.scss';

body {
  margin: 0px;
}
//TODO: Same as import / would be better of as variable
.dialog {
  height: 614px;
  width: 350px;
  font-family: Futura !important;
  font-weight: 400;
  background: url('/assets/images/hive-watermark.png') 0% 0% no-repeat
      padding-box,
    linear-gradient(330deg, #59626c 0%, #000000 100%) 0% 0% no-repeat
      padding-box !important;
  color: white;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  font-size: 16px;
}
