@import '../common-style/common-style.scss';
@import '../common-ui/common-ui.scss';
@import './components/collapsible-item/collapsible-item.scss';
@import './components/dialog-header/dialog-header.component.scss';
@import './components/operation/operation.scss';
@import './components/request-username/request-username.scss';
@import './pages/pages.scss';

.theme {
  &.light {
    @include spread-map($light);
  }
  &.dark {
    @include spread-map($dark);
  }
  background-color: var(--background-color);
  @include background-bottom;
}
@-moz-document url-prefix() {
  div:not(.scrollable) {
    scrollbar-width: none;
  }
}
.scrollable {
  scrollbar-width: none;
  scrollbar-color: $red transparent;
}
html {
  height: 100%;
  width: 100%;
  scrollbar-width: 0;
  body {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    #root {
      display: block;
      height: 100%;
      width: 100%;
    }
    .dialog {
      display: flex;
      flex-direction: column;
      height: 100%;
      color: var(--main-font-color);
      // @include background-top;
      padding: 32px;
      box-sizing: border-box;
      font-size: 16px;

      @include dialogs-title-panel();

      .caption {
        @include caption();
        padding: unset;
      }

      ::-webkit-scrollbar-track {
        -webkit-box-shadow: unset;
        box-shadow: unset;
        border-radius: 4px;
        background-color: transparent;
      }
      scrollbar-width: none;

      ::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: $red;
      }
    }
  }
}
