@import '../../../../../variable.scss';
.proposal-tab {
  text-align: center;
  .proposal-list {
    display: flex;
    flex-direction: column;
    max-height: 462px;
    overflow: auto;
    .proposal-item {
      &:nth-child(even) {
        background-color: $red-transparent;
      }
    }
  }
}
