.back-to-top {
  position: absolute;
  right: 16px;
  bottom: 16px;
  height: 46px;
  width: 46px;
  background: $red;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  box-sizing: border-box;
}
