@import '/src/popup/variable.scss';

.power-up-down-top-panel {
  background-color: $grey-transparent;
  margin: 0px -24px;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  min-height: 50px;
  .panel-row {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
}
