@import '/src/common-style/variable.scss';

.account-keys-list {
  @include pageLayoutRowGap;
  padding: 0px 24px;
  padding-bottom: 24px;

  .keys-panel {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 0px 8px;
  }

  scroll-behavior: smooth;
}

.qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  .overlay {
    background: $dark-background;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .qr-code-popup {
    display: flex;
    flex-direction: column;
    padding: 42px;
    background: white;
    z-index: 2;
    border-radius: 20px;
    row-gap: 32px;

    .qr-code-container {
      border-radius: 20px;
      border: 4px solid black;
      padding: 12px;
    }
  }
}
