.evm-nft-collection-page {
  @include pageLayoutRowGap;
  flex: 1;
  overflow: hidden;

  .nft-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4px;
    column-gap: 4px;
    overflow: auto;
    margin-bottom: -20px;
    padding-bottom: 20px;
    grid-auto-flow: dense;
  }
}
