.top-bar {
  height: 74px;
  padding: 8px 8px 0px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  user-select: none;
  column-gap: 8px;
  position: relative;

  .account-selector-panel {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
  }

  .chain-selector {
    margin-top: 12px;
  }

  .logo-container {
    margin-top: 8px;
    padding: 8px;
    background: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: 50%;
    .logo {
      height: 28px;
      width: 28px;
      svg {
        height: 28px;
        width: 28px;
      }
      cursor: pointer;

      &.rotate {
        animation: rotation 1s linear;
      }
    }
  }

  .top-bar-actions {
    display: flex;
    column-gap: 12px;
    .claim-button {
      height: 26px;
      width: 26px;
      svg {
        height: 26px;
        width: 26px;
      }

      &:hover {
        --action-button-background-color: #{$red};
        --action-button-color: white;
        --action-button-border-color: #{$red};
      }
    }
  }

  .button {
    cursor: pointer;
    &.settings-button {
      margin-top: 4px;
    }
  }

  .spacer {
    flex: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
