.top-bar {
  height: 56px;
  padding: 14px 18px 0px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  user-select: none;
  column-gap: 8px;
  position: relative;

  .logo {
    height: 32px;
    width: auto;
    cursor: pointer;

    &.rotate {
      animation: rotation 1s linear;
    }
  }

  .button {
    cursor: pointer;
    &.settings-button {
      margin-top: 4px;
    }
  }

  .spacer {
    flex: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
