@import '/src/variable.scss';

.authorized-operations-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
  padding: 0px 24px;
  .introduction {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 20px;
  }
  .no_pref {
    text-align: center;
    margin-top: 16px;
    font-size: 18px;
  }

  .select-account-section {
    margin: 0px -24px;
  }

  .preferences {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0px -24px;
    .website {
      .name {
        padding: 0px 24px;
        font-size: 18px;
      }
      .operation {
        padding-left: 40px;
        padding-right: 24px;
        font-size: 16px;
        display: flex;
        align-items: center;
        background: $red-transparent;
        height: 30px;
        .operation-name {
          flex: 1;
        }
        .operation-action {
          display: none;
          height: 14px;
          width: 14px;
          cursor: pointer;
        }

        &:hover {
          .operation-action {
            display: block;
            height: auto;
            width: auto;
          }
        }

        &:nth-child(odd) {
          background: $black-transparent;
        }
      }
    }
  }

  .search-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 16px;
    .input-container {
      input {
        height: 30px;
        font-size: 14px;
        &:focus {
          box-shadow: unset;
        }
        &::-webkit-input-placeholder {
          font-size: 14px;
        }
      }
      .input-img.erase {
        top: 8px;
        height: 14px;
        width: 14px;
      }
    }
  }

  .filter-button {
    padding: 4px;
    border: 1px solid white;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    min-width: 60px;

    &.selected,
    &:hover {
      background: white;
      color: black;
    }
  }
}
