.authorized-operations-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
  padding: 0px 24px;
  .introduction {
    @include caption();
  }

  .no_pref {
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    color: var(--main-font-color);
  }

  .select-account-section {
    margin: unset;
  }

  .preferences {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
