# These environment variables will only work in dev
# Copy to .env

DEV_CLAIM_FREQUENCY=2
DEV_CLAIM_ACCOUNT_RC_PCT=75
DEV_CLAIM_ACCOUNT_MIN_RC=12000000000000
# Set to true if you use firefox
IS_FIREFOX=true 