@import '/src/common-style/variable.scss';

.witness-info-data {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px;

  .label {
    font-weight: bold;
    font-size: 17px;
  }

  .value {
    font-size: 14px;

    &.clickable {
      display: flex;
      flex-direction: row;
      row-gap: 4px;
      align-items: center;
      cursor: pointer;
      padding-bottom: 0px !important;
    }
    .icon-component {
      @include icon-size(13px);
    }
  }
}
