.chain-selector {
  .custom-select {
    min-width: unset;
    border: unset !important;
  }

  .react-dropdown-select {
    height: 32px !important;
  }

  .react-dropdown-select-dropdown {
    top: 36px !important;
    right: 0;
    left: unset;

    .left-image {
      height: 20px !important;
      width: 20px !important;
      margin-left: unset !important;
    }
    .left-svg {
      height: 20px !important;
      width: 20px !important;

      svg {
        height: 20px !important;
        width: 20px !important;
      }
    }
  }

  .add-blockchain-panel {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    column-gap: 12px;
    padding: 10px 6px;
    box-sizing: border-box;
    @include poppins500(14px);
    --add-icon-color: #{$red};
    .text {
      color: var(--main-font-color);
    }
    &:hover {
      background: $red;
      --add-icon-color: white;
      .text {
        color: white;
      }
    }
    .svg-icon {
      @include icon-size(20px);
      svg {
        @include icon-size(20px);
      }
    }
  }
}
