.chain-selector {
  .react-dropdown-select {
    height: 32px !important;
  }
  .left-image {
    height: 20px !important;
    width: 20px !important;
  }

  .react-dropdown-select-dropdown {
    top: 36px !important;
  }

  .add-blockchain-panel {
    flex-direction: row;
    .title {
    }
    .svg-icon {
      @include icon-size(16px);
      svg {
        @include icon-size(16px);
      }
    }
  }
}
