@import '../../../../../../variable.scss';

.edit-my-witness-component {
  flex: 1;
  padding: 0px 10px;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;

  .row-grid-three {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .row-grid-two {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .label-title-container {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .as-fake-input {
    @include fake-input;
  }

  .label-title {
    font-weight: bold;
    padding-top: 8px;
  }

  .bottom-panel {
    position: fixed;
    left: 24px;
    bottom: 32px;
    width: calc(100% - 48px);
    display: flex;
    column-gap: 16px;
  }
}
