@import '@common-style/variable.scss';
@import '@common-style/mixins.scss';

.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px;
  row-gap: 36px;
  .logo-white {
    width: 228px;
    height: auto;
  }

  .introduction-panel {
    display: flex;
    flex-direction: column;
    .introduction {
      text-align: center;
      opacity: 0.7;
      color: $dark-blue;
      &.big {
        @include poppins400(22px);
      }

      &.medium {
        @include poppins400(16px);
      }
      &.lighter {
        opacity: 0.6;
      }
      &.first {
        margin-bottom: 20px;
      }
      &.second {
        margin-bottom: 10px;
      }
    }
  }

  .reset-password-link {
    @include poppins600(12px);
    color: $dark-blue;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      color: $red;
    }
  }
}
