@import '/src/variable.scss';

.sign-in-page {
  padding: 24px;
  .logo-white {
    width: 100%;
    height: auto;
    opacity: 0.8;
  }

  .introduction {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 18px;
  }

  .submit-button {
    margin-top: 40px;
  }

  .reset-password-link {
    font-size: 18px;
    float: right;
    margin-top: 20px;
    border-bottom: 2px dotted;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }
}
