@import '../../../../../../variable.scss';

.account-keys-list {
  @include pageLayoutRowGap;
  padding-bottom: 24px;

  .account-keys-list-item:nth-child(even) {
    background: rgba(227, 19, 55, 0.32);
    margin: 0px -24px;
    padding: 6px 24px;
  }

  scroll-behavior: smooth;
}

.qrcode {
  margin: 16px 0px;
  align-self: center;
  border: solid 3px white;
}
