@import '/src/popup/variable.scss';

.token-swaps {
  @include pageLayoutRowGap;
  row-gap: 12px;
  overflow: hidden;
  flex: 1;
  padding: 0px 24px 24px 24px;
  flex-flow: column wrap;

  .maintenance-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;

    .icon-component {
      @include icon-size(60px);
    }
    .text {
      font-size: 18px;
      text-align: center;
    }
  }

  .react-tabs {
    flex: 1;
  }

  .rotating-logo {
    align-self: center;
    justify-self: center;
  }

  .swap-icon {
    text-align: center;
  }

  .autorefresh-panel {
    text-align: right;
    font-size: 16px;
  }

  .caption {
    font-size: 16px;
  }

  .fee {
    font-size: 16px;
  }
  .countdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 13px;
  }
  .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    .start-token,
    .end-token {
      display: flex;
      flex-direction: column;
      height: 70px;
      .inputs {
        display: grid;
        align-items: flex-end;
        grid-template-columns: 1fr 1fr;
      }
      .available {
        font-style: italic;
        font-size: 16px;
        margin-top: 4px;
      }
    }

    .end-token {
      .final-value {
        font-size: 18px;
        font-style: italic;
        padding-top: 6px;
      }
    }

    .advanced-parameters {
      margin-top: 5px;
      font-size: 18px;
      .title-panel {
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
      }
      .advanced-parameters-container {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}
