@import '/src/common-style/variable.scss';

.action-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  row-gap: 8px;
  user-select: none;

  .icon-container {
    height: 50px;
    width: 50px;
    border: 1px solid $red-transparent;
    border-radius: 50%;
    background: $red-transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $red-dark;
      border-color: $red-dark;
    }
    .icon {
      color: white;
      font-size: 24px;
    }
    .imported-icon {
      height: 24px;
      width: 24px;
    }
  }

  .label {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
  }
}
