@import '/src/common-style/variable.scss';
@import '/src/common-style/mixins.scss';

.action-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  row-gap: 8px;
  user-select: none;

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 54px;
    border: 1px solid $light-grey-border;
    border-radius: 0px 0px 74px 74px;
    border-top: 0px;

    .icon {
      color: $red;
      @include icon-size(24px);
    }
  }

  &:hover {
    .icon-container {
      background: $red;
      -webkit-box-shadow: 0px 4px 10px 0px rgba(227, 19, 53, 0.3);
      -moz-box-shadow: 0px 4px 10px 0px rgba(227, 19, 53, 0.3);
      box-shadow: 0px 4px 10px 0px rgba(227, 19, 53, 0.3);
      .icon {
        color: white;
      }
    }
  }

  .label {
    color: $lighter-grey;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
