@import '/src/popup/variable.scss';
.savings-page {
  @include pageLayout;
  padding: 0px 24px;

  .max {
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
    margin-top: 8px;
    border-bottom: 2px dotted;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }

  .text {
    font-size: 18px;
  }

  .power-down-panel {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px -24px;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;

    .power-down-text {
      flex: 1;
    }

    .icon-button {
      display: none;
      height: 16px;
      width: 16px;
      font-size: 16px;
    }

    &:hover {
      .icon-button {
        display: block;
      }
    }
  }

  .amount-panel {
    display: flex;
    column-gap: 16px;
    align-items: baseline;
  }

  .select-dropdown {
    width: 100%;
    height: $input-height;
    box-sizing: border-box;
    background: transparent;
    opacity: 1;
    padding-left: 66px;
    font-size: $input-font-size;
    color: white;
    border-style: unset;
    border-bottom: solid 1px $grey !important;
    user-select: none;
    &,
    &:hover,
    &:focus {
      box-shadow: unset !important;
    }
    .react-dropdown-select-dropdown {
      border: unset;
      top: 36px;
      left: 0px;
      background-color: black;
    }

    .selected-value {
      min-width: 50px;
      text-align: center;
      padding-left: 6px;
    }
  }
}
