.balance-section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  .label {
    @include poppins400(14px);
    color: $dark-grey;
  }
  .value {
    @include poppins700(40px);
    color: $dark-blue;
  }
}
