.account-authorities-list {
  @include pageLayoutRowGap;
  padding-top: 4px;

  &.settings-hive-dapps-page {
    padding: 4px 0 0;
    row-gap: 0;
  }

  .authorities-panel {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    &.settings-hive-dapps-list {
      row-gap: 0;
    }

    .key-field {
      font-size: 12px;
      cursor: pointer;

      &.hidden {
        font-size: 16px;
      }
    }

    .using-authorized-account {
      cursor: pointer;
      font-size: 16px;
    }

  }

  .no-authorities-found {
    align-items: center;
    color: var(--main-font-color);
    display: flex;
    font-size: 16px;
    justify-content: center;
    text-align: center;
  }

  scroll-behavior: smooth;
}
