@import '/src/variable.scss';
.proposal-tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .using-proxy {
    font-size: 16px;
    padding: 0px 24px;
    box-sizing: border-box;
    margin-bottom: 12px;
  }
  .proposal-list {
    flex-direction: column;
    display: flex;
    flex: 1;
    overflow: auto;
    .proposal-item {
      &:nth-child(even) {
        background-color: $red-transparent;
      }
    }
  }
  &.loading {
    text-align: center;
  }
  .loading-panel {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
