.proposal-tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  row-gap: 8px;
  .using-proxy {
    @include caption();
  }
  .proposal-list {
    flex-direction: column;
    display: flex;
    flex: 1;
    overflow: auto;
    row-gap: 8px;
  }
  &.loading {
    text-align: center;
  }
  .loading-panel {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
