.tokens-history {
  @include pageLayoutRowGap;
  overflow: hidden;

  .custom-input {
    margin: 0px 16px;
  }

  .item-list {
    overflow: auto;
    @include form-panel;
    row-gap: 8px;
    max-height: 476px;
  }
}
