@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.sliding-bar-container {
  $itemHeight: 36px;
  $itemWidth: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .tabs {
    display: flex;
    position: relative;
    background-color: var(--card-background);
    border: 1px solid var(--card-border);
    padding: 2px;
    border-radius: 99px;
    * {
      z-index: 2;
    }
  }
  input[type='radio'] {
    display: none;
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $itemWidth;
    height: $itemHeight;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;

    @include poppins500(13px);
    color: var(--main-font-color);

    &.selected {
      color: white;
    }
  }

  .glider {
    position: absolute;
    display: flex;
    height: $itemHeight;
    width: $itemWidth;
    background-color: $red;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
    box-shadow: 0 0 1px 0 $red, 0 6px 12px 0 $red;
    box-shadow: 0px 10px 7px 0px $red-shadow;
  }
}
