@import '../../../../../../variable.scss';

.token-swaps {
  @include pageLayoutRowGap;
  overflow: hidden;
  flex: 1;
  padding: 24px;

  .react-tabs {
    flex: 1;
  }

  .rotating-logo {
    align-self: center;
    justify-self: center;
  }

  .swap-icon {
    text-align: center;
  }

  .start-token {
    display: flex;
    flex-direction: column;
    .inputs {
      display: grid;
      align-items: flex-end;
      grid-template-columns: 1fr 1fr;
    }
    .available {
      font-style: italic;
      font-size: 16px;
      margin-top: 4px;
    }
  }

  .end-token {
    .final-value {
      font-size: 18px;
      font-style: italic;
      padding-top: 6px;
    }
  }
}
