.delegations-page {
  @include pageLayoutRowGap;
  row-gap: 4px;
  .text {
    @include form-container-text;
  }

  .resources {
    @include resources-panel;
  }

  .available-panel {
    @include available-card-panel;
    margin-top: -10px;
    margin-bottom: 30px;
  }

  .currency-fake-input {
    width: 100px;
  }

  .amount-panel {
    display: flex;
    column-gap: 16px;
    align-items: baseline;
  }
}
