.delegations-page {
  @include pageLayoutRowGap;
  row-gap: 4px;
  .text {
    @include form-container-text;
  }

  .resources {
    @include resources-panel;
  }

  .amount-panel {
    display: flex;
    column-gap: 16px;
    align-items: baseline;

    .currency {
      @include fake-input;
    }
  }
}
