@import '/src/common-ui/separator/separator.component.scss';

.about-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 24px;

  .about-page-card {
    align-items: stretch;
    flex: 0 0 auto;
    flex-direction: column;
    height: fit-content;
  }

  .content {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .text {
        opacity: 0.7;
      }
    }
    @include poppins500(14px);
    color: var(--main-font-color);
    text-align: left;
    a {
      color: $red;
      text-decoration: none;
    }
  }
  .version {
    @include poppins500(13px);
    flex: 0 0 28px;
    margin-top: auto;
    text-align: center;
    color: $red;
  }
  .separator {
    margin: 12px;
    background: #dcdcdc;
  }
}
