@import '/src/common-ui/separator/separator.component.scss';

.about-page {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 28px;
  padding: 0px 24px;
  .content {
    ul {
      padding-inline-start: 20px;
      margin-inline-end: 20px;
      li::marker {
        font-size: 18px;
      }
      .text {
        opacity: 0.7;
      }
    }
    @include poppins500(14px);
    color: var(--main-font-color);
    text-align: left;
    a {
      color: $red;
      text-decoration: none;
    }
  }
  .version {
    @include poppins500(13px);
    text-align: center;
    color: $red;
  }
  .separator {
    margin: 12px;
    background: #dcdcdc;
  }
}
