html {
  height: 100%;
  height: 600px;
  width: 435px;
}

body {
  margin: 0px;
  height: 100%;
  height: 600px;
  width: 435px;
}
#root {
  display: block;
  height: 100%;
  height: 600px;
  width: 435px;
}

.predialog {
  height: 100%;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
