.transfer-tokens-page {
  @include pageLayoutRowGap;
  row-gap: 10px;
  @include background-top-0-percent();
  .caption {
    @include caption();
  }

  .value-panel {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    .currency-fake-input {
      width: 180px;
    }
  }
}
