.lifi-confirmation-page {
  @include pageLayoutRowGap;

  .lifi-confirmation-page-content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    .currency-icon-container {
      display: flex;
      position: relative;

      .currency-icon-chip {
        position: absolute;
        height: 16px;
        width: 16px;
        bottom: -4px;
        right: -4px;
        border-radius: 50%;
      }
    }
  }

  .lifi-confirmation-page-actions {
    width: 100%;
    display: flex;
    column-gap: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
  }
}
