@import '../../../../../../variable.scss';

.witness-tab-page {
  flex: 1;
  padding: 0px 10px;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;

  .text {
    text-align: center;
    padding-bottom: 8px;
  }

  .panel-title {
    font-weight: bold;
    font-size: 18px;
  }

  .page-information {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 4px;
  }

  .column-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  .row-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .rotating-logo-container {
    min-height: 80px;
    flex: 1;
    display: flex;
    justify-content: center;
    .rotating-logo {
      align-self: center;
      justify-self: center;
      height: 30px;
      width: 30px;
    }
  }

  .rotate-icon-180 {
    rotate: 180deg;
  }

  .non-rotate-icon {
    rotate: 0deg;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 16px;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-top {
    margin-top: 10px;
  }
}
