@import '/src/popup/variable.scss';

.footer-button {
  margin-top: 0;
  border-radius: 5px;
  width: 40%;
  height: 48.43px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-family: Futura;
  text-transform: uppercase;
  background-color: black;
  border: solid 1px black;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $red;
    border: solid 1px $red;
  }

  .button-label {
    width: 100%;
  }
}
.grey {
  background-color: $grey;
  border-color: $grey;
}
