.notifications-config-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 24px;
  .caption {
    @include caption();
  }

  .active-panel {
    margin: 0px 16px;
  }

  .default-config-button {
    align-self: flex-end;
    max-width: max-content;
    padding: 0px 16px;
  }

  .form-fields {
    .add-panel {
      display: flex;
      align-items: center;
      column-gap: 16px;

      .add-button {
        width: 50px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid var(--card-border);
        background: transparent;
        cursor: pointer;
        color: var(--main-font-color);
        .svg-icon {
          height: 18px;
          width: 18px;
        }
        &:hover {
          background: $red;
          color: white;
        }
      }
    }

    .criteria {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      cursor: pointer;

      .operation-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-panel {
          display: flex;
          align-items: center;
          column-gap: 8px;
          .svg-icon {
            height: 18px;
          }
        }
        .expand-detail-icon {
          @include icon-size(18px);
          @include open-close-rotate();
        }
      }

      .conditions {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        width: 100%;

        .condition-row {
          display: flex;
          align-items: center;
          column-gap: 8px;
          .condition-configuration {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            flex: 1;
            column-gap: 8px;
          }
        }
      }
    }
  }

  .button-panel {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
}
