.gas-fee-panel {
  @include small-card();
  flex-direction: column;
  margin: unset;
  cursor: pointer;
  align-items: unset;
  row-gap: 8px;

  .title-row {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 8px;
    align-items: center;
    justify-content: space-between;

    .svg-icon {
      height: 24px;
      width: 24px;
    }

    .title {
      @include poppins500(14px);
      color: var(--main-font-color);
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    .gas-fee-top-row,
    .gas-fee-bottom-row {
      display: flex;
      justify-content: space-between;
      .label {
        @include poppins400(14px);
        color: var(--main-font-color);
        &.duration {
          color: $red;
        }
      }
    }
  }
}
.edit-gas-fee-popup {
  width: 100%;
  margin: unset !important;
  padding: 24px;

  .overlay {
    margin: -24px;
  }

  .edit-gas-fee-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include poppins500(15px);
      color: var(--main-font-color);
    }
    .custom-fee-row {
      @include small-card-no-padding;
      margin: 0;
      padding: 4px 12px;
      display: grid;
      grid-template-columns: 1fr 2fr 3fr 2fr;
      cursor: pointer;

      .svg-icon {
        width: 20px;
        height: 20px;
      }

      .label {
        @include poppins400(13px);
        color: var(--main-font-color);
      }
      .duration {
        color: $red;
        text-align: center;
      }
      .gas-fee {
        text-align: right;
      }
      &.deactivated {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
  .custom-gas-fee-panel {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    row-gap: 16px;

    .data-panel {
      margin-top: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .data-block {
        @include poppins400(10px);
        .label {
          font-weight: 500;
        }
        .value {
          &.up {
            color: $green-success;
          }
          &.down {
            color: $red;
          }
        }
      }
    }

    .button-panel {
      width: 100%;
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 8px;
    }
  }
}
