@import '../../popup/variable.scss';

.rotating-logo {
  width: 80px;
  height: 80px;
  animation: rotate-stop 2s infinite linear;
  transform: rotate();
}

.rotating-logo-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
