@import '../../../../../variable.scss';

.token-item {
  .token {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
    font-size: 18px;
    align-items: center;

    padding: 0px 24px;
    min-height: 50px;
    cursor: pointer;

    .history,
    .send {
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
    .send,
    .more {
      justify-self: flex-end;
    }

    .more.opened {
      transform: rotate(180deg) 0.5s;
    }
  }
  .expandable-panel {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    font-size: 14px;

    &.opened {
      max-height: 500px;
      transition: max-height 0.5s ease-in;
    }

    .token-info {
      display: flex;
      flex-direction: column;
      padding: 8px 24px;
      font-size: 16px;
      row-gap: 4px;

      .token-description {
        display: flex;
        align-items: center;
        column-gap: 8px;
        cursor: pointer;
        margin-bottom: 8px;
        .token-name-issuer {
          display: flex;
          flex-direction: column;
          padding-top: 1px;
          .token-issuer {
            font-size: 16px;
            font-style: italic;
          }
          .token-name {
            font-size: 18px;
          }
        }
        .token-icon {
          height: 36px;
          width: 36px;
        }
      }

      .delegation-line {
        cursor: pointer;
      }
    }
    .button-panel {
      display: flex;
      column-gap: 16px;
      justify-content: center;
      height: 50px;
      align-items: center;
      .action-button {
        padding: 4px;
        padding-top: 6px;
        border-radius: 8px;
        border: 1px solid white;
        min-width: 70px;
      }
    }
  }
}
