@import '/src/common-style/variable.scss';

.witness-voting-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  padding: 0px 16px;
  box-sizing: border-box;
}
