@import '/src/common-style/variable.scss';

.witness-voting-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  width: 100%;

  .submit-button {
    width: 70%;
    font-size: 14px;
    height: 30px;
    border: 1px solid white;
  }

  .text {
    font-size: 18px;
  }
}
