@import './pages/pages.scss';

.App {
  height: 600px;
  font-family: Futura !important;
  font-weight: 400;
  color: white;
  box-sizing: border-box;
  overflow: auto;
  margin-left: calc(100vw - 100%);

  .page-container {
    display: grid;
    row-gap: 32px;
    grid-template-rows: 28px 1fr;
    height: 100%;
  }

  .change-rpc-popup {
    position: fixed;
    bottom: 0px;
    left: 0px;
    min-height: 100px;
    width: 100%;
    background: $red-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
    row-gap: 12px;
    z-index: 1;

    .message {
      font-size: 15px;
      padding: 0px 16px;
      text-align: center;
    }

    .submit-button {
      max-width: 130px;
      height: 36px;
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
}

.react-dropdown-select-dropdown-handle {
  width: 48px;
  svg {
    width: 10px !important;
    height: 10px !important;
  }
}

.pretty.p-switch .state:before {
  top: calc((0% - (100% - 1em)) - 13%) !important;
}

.css-wmw4vi-ReactDropdownSelect {
  padding: 2px 0px !important;
}

.Toastify__progress-bar {
  bottom: unset;
  top: 0;
}

.Toastify__toast-icon {
  display: none !important;
}

.Toastify__progress-bar {
  background: white !important;
}

.Toastify__toast--error {
  background: $message-container-error !important;
}
.Toastify__toast--info {
  background: $message-container-info !important;
}
.Toastify__toast--success {
  background: $message-container-success !important;
}
.Toastify__toast--warning {
  background: $message-container-warning !important;
}

.material-icons,
.material-icons-outlined {
  padding-bottom: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border-radius: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e31337;
}
