.settings-manage-account-authorities {
  @include pageLayoutRowGap();
  row-gap: 10px;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 0 24px;

  .text {
    @include settings-page-note();
    margin: 0;
  }
}
