.settings-manage-account-authorities {
  @include pageLayoutRowGap();
  row-gap: 10px;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 0 24px;

  .text {
    @include settings-page-note();
    margin: 0;
  }

  .settings-hive-account-select-panel {
    width: 100%;

    .custom-select-container {
      width: 100%;
    }

    .custom-select {
      width: 100%;
    }
  }
}
