@import '../../../../../variable.scss';

.witness-tab {
  @include pageLayoutRowGap;
  .remaining-votes,
  .using-proxy {
    font-size: 16px;
    padding: 0px 24px;
    box-sizing: border-box;
  }
  .link-to-arcange {
    padding: 0px 24px;
    cursor: pointer;
    a,
    span {
      font-size: 16px;
      color: white;
      text-decoration: none;
    }

    span {
      vertical-align: bottom;
      margin-left: 4px;
    }
  }

  .ranking-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .ranking-filter {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      margin: 0px 24px;

      .switches-panel {
        display: flex;
        justify-content: space-between;
      }
    }

    .ranking {
      height: 264px;
      overflow: auto;

      .error-witness {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 16px;
        padding: 32px 24px;
        box-sizing: border-box;
        font-size: 16px;

        .icon-component {
          height: 50px;
          width: 50px;
          font-size: 50px;
        }
      }

      .ranking-item {
        display: grid;
        grid-template-columns: 70px 1fr 70px;
        align-items: center;
        background: $black-transparent;
        font-size: 18px;
        height: 48px;

        .rank {
          display: flex;
          align-items: center;
          justify-content: center;
          .active-rank {
            font-size: 16px;
            width: 30px;
          }
          .including-inactive {
            width: 30px;
            font-size: 12px;
          }
        }

        .rank,
        .action {
          text-align: center;
        }

        .name {
          display: flex;
          align-items: center;
          column-gap: 4px;

          .link-to-witness-page {
            cursor: pointer;
            font-size: 16px;
          }

          &.not-active {
            .witness-name {
              text-decoration: line-through;
            }
          }
        }

        .action {
          img {
            height: 24px;
            width: 24px;
            text-align: center;
            opacity: 0.3;
            cursor: pointer;
            &.voted {
              opacity: 1;
            }
            &.using-proxy {
              cursor: not-allowed;
            }
          }
        }

        &:nth-child(even) {
          background: $red-transparent;
        }
      }
    }
  }
}
