@import '../../../../../variable.scss';

.witness-tab {
  @include pageLayoutRowGap;
  .remaining-votes,
  .using-proxy {
    font-size: 16px;
  }

  .ranking-container {
    margin: 0px -24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .ranking-filter {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      margin: 0px 24px;

      .switches-panel {
        display: flex;
      }
    }

    .ranking {
      height: 330px;
      overflow: auto;

      .ranking-item {
        display: grid;
        grid-template-columns: 60px 1fr 40px;
        align-items: center;
        background: $black-transparent;
        font-size: 18px;
        height: 48px;

        .rank,
        .action {
          text-align: center;
        }

        .name {
          &.not-active {
            text-decoration: line-through;
          }
        }

        .action {
          img {
            height: 24px;
            width: 24px;
            text-align: center;
            opacity: 0.3;
            cursor: pointer;
            &.voted {
              opacity: 1;
            }
          }
        }

        &:nth-child(even) {
          background: $red-transparent;
        }
      }
    }
  }
}
