.multiple-page-container {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  column-gap: 8px;

  .previous-button {
    @include icon-size(16px);
    transform: rotate(180deg);
    cursor: pointer;
  }
  .next-button {
    @include icon-size(16px);
    cursor: pointer;
  }
}
