.response-message-container {
  height: 100%;
  margin: 0px 24px;
  background: var(--card-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  row-gap: 12px;
  .title {
    text-align: center;
    @include dmSans700(20px);
    color: $red;
    &.success {
      color: $green-success;
    }
  }
  .message {
    text-align: center;
    @include dmSans400(15px);
    color: var(--main-font-color);
    user-select: auto;
  }
}
