.wallet-info-section {
  background-color: rgba(255, 255, 255, 0.2);
  .wallet-info-row {
    display: flex;
    align-items: center;
    height: 50px;
    column-gap: 16px;
    justify-content: flex-end;
    margin-right: 32px;

    .dropdown-arrow {
      padding-bottom: 3px;
      transform: rotate(180deg);
      width: 20px;
      height: auto;
      cursor: pointer;
    }

    .value,
    .currency {
      font-size: 20px;
      text-align: right;
      .balance {
      }
      .savings {
        font-size: 13px;
        text-transform: lowercase;
      }
    }

    .currency {
      width: 50px;
    }

    .value {
      flex: 1;
    }
  }
}
