.wallet-info-section {
  background-color: rgba(102, 102, 102, 0.75);
  user-select: none;
  .wallet-info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 50px;
    column-gap: 16px;
    justify-content: flex-end;
    position: relative;

    .dropdown-arrow {
      padding-bottom: 3px;
      transform: rotate(180deg);
      width: 20px;
      height: auto;
      cursor: pointer;
      position: absolute;
      right: 24px;
    }

    .value,
    .currency {
      font-size: 20px;
      text-align: right;
      .savings {
        font-size: 13px;
        text-transform: lowercase;
      }
    }

    .currency {
      width: 50px;
    }

    .value {
      flex: 1;
    }
  }
}
