@import '/src/popup/variable.scss';

.submit-button {
  width: 100%;
  font-size: 16px;
  border-radius: 12px;
  text-transform: capitalize;
  align-self: center;
  cursor: pointer;
  color: white;
  height: 48px;
  position: relative;

  .logo {
    position: absolute;
    right: 16px;
    bottom: 10px;
  }

  &.stroked {
    background: transparent;
    border: 1px solid white;
    &:hover {
      background: #ffffff2b;
      color: white;
    }
  }

  &.important {
    background: $grey;
    color: white;
    border: none;

    &:hover {
      background: $red-dark;
    }
  }

  &.raised {
    background: white;
    border: none;
    color: black;

    &:hover {
      background: #eee;
    }
  }
}
