@import '/src/popup/variable.scss';

.submit-button {
  width: 100%;
  font-size: 16px;
  border-radius: 12px;
  align-self: center;
  user-select: none;
  cursor: pointer;
  color: white;
  height: 48px;
  position: relative;

  .logo {
    position: absolute;
    right: 16px;
    bottom: 10px;
  }

  &.default {
    background: transparent;
    border: 1px solid white;
    &:hover {
      background: white;
      color: black;
    }
  }

  &.stroked {
    background: transparent;
    border: 1px solid white;
    &:hover {
      background: #ffffff2b;
      color: white;
    }
  }

  &.important {
    background: white;
    color: black;
    border: none;

    &:hover {
      background: $red-dark;
      color: white;
    }
  }
  &.no-border {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
  }
  &.raised {
    background: white;
    border: none;
    color: black;

    &:hover {
      background: #eee;
    }
  }

  &.reverse {
    background: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background: black;
      color: white;
    }
  }

  &.fix-to-bottom {
    position: fixed;
    bottom: 32px;
    left: 24px;
    width: calc(100% - 48px);

    &.almost-bottom {
      bottom: 104px;
    }
  }

  &.no-border {
    background: none;
    border: none;
    color: white;
  }
}
