.submit-button {
  width: 100%;
  font-size: 16px;
  border-radius: 12px;
  align-self: center;
  user-select: none;
  cursor: pointer;
  color: white;
  position: relative;
  background: var(--button-background-color);
  border: unset;
  border-radius: 48px;

  .logo {
    position: absolute;
    right: 16px;
    bottom: 10px;
  }

  &:hover {
    box-shadow: 0px 13px 9px 0px $red-shadow;
    transition: box-shadow 0.5s ease-in-out;
  }

  // &.success-button {
  //   background-color: $green-success;
  //   &:hover {
  //     box-shadow: 0px 13px 9px 0px $green-success-shadow;
  //   }
  // }

  &.tall {
    height: 58px;
    min-height: 58px;
  }
  &.medium {
    height: 50px;
    min-height: 50px;
  }
  &.small {
    height: 42px;
    min-height: 42px;
  }

  &.alternative {
    color: var(--main-font-color);
    background-color: var(--button-alternative-background-color);
    border: 1px solid var(--popup-alternative-button-border-color);
    &:hover {
      box-shadow: 0px 4px 9px 0px var(--button-alternative-shadow-color);
      transition: box-shadow 0.5s ease-in-out;
    }
  }

  &.fix-to-bottom {
    position: fixed;
    bottom: 32px;
    left: 24px;
    width: calc(100% - 48px);

    &.almost-bottom {
      bottom: 104px;
    }
  }
}
