@import '/src/common-style/variable.scss';

.rc-delegations-page {
  @include pageLayoutRowGap;
  row-gap: 24px;
  padding: 0px 24px;
  .max {
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
    margin-top: 8px;
    border-bottom: 2px dotted;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }

  .text {
    font-size: 18px;
  }

  .power-down-panel {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px -24px;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;

    .power-down-text {
      flex: 1;
    }

    .icon-button {
      display: none;
      height: 16px;
      width: 16px;
      font-size: 16px;
    }

    &:hover {
      .icon-button {
        display: block;
      }
    }
  }

  .rc-delegations-summary {
    background-color: $grey-transparent;
    margin: 0px -24px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    .total-incoming,
    .total-outgoing,
    .total-pending,
    .total-available {
      display: flex;
      justify-content: space-between;
      font-size: 20px;

      .label {
        max-width: 50%;
      }

      .value {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        .hp-value {
          font-size: 16px;
          font-style: italic;
        }
      }
    }

    .total-incoming,
    .total-outgoing {
      cursor: pointer;
    }

    .separator {
      height: 1px;
      background: white;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    .amount-panel {
      display: flex;
      column-gap: 16px;
      align-items: baseline;

      .currency {
        @include fake-input;
      }
    }

    .preset-button-panels {
      display: flex;
      gap: 16px;
      .preset-button {
        width: 75px;
        height: 30px;
        border: 1px solid white;
        border-radius: 4px;
        background: transparent;
        color: white;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        display: flex;
        padding-top: 2px;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }
}
