.evm-custom-nfts-page {
  .evm-custom-nfts-list__line-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0;
    width: 100%;
  }

  .evm-custom-nfts-list__meta {
    @include poppins400(13px);
    opacity: 0.85;
  }

  .evm-custom-nfts-list__collection-address {
    @include poppins400(12px);
    opacity: 0.75;
    word-break: break-all;
  }
}
