@import '/src/popup/variable.scss';
.delegations-page {
  @include pageLayout;
  .max {
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
    margin-top: 8px;
    border-bottom: 2px dotted;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }

  .text {
    font-size: 18px;
  }

  .power-down-panel {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px -24px;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;

    .power-down-text {
      flex: 1;
    }

    .icon-button {
      display: none;
      height: 16px;
      width: 16px;
      font-size: 16px;
    }

    &:hover {
      .icon-button {
        display: block;
      }
    }
  }

  .delegations-summary {
    background-color: $grey-transparent;
    margin: 0px -24px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .total-incoming,
    .total-outgoing,
    .total-available {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
    }

    .total-incoming,
    .total-outgoing {
      cursor: pointer;
    }

    .divider {
      height: 1px;
      background: white;
    }
  }

  .amount-panel {
    display: flex;
    column-gap: 16px;
    align-items: baseline;

    .currency {
      font-size: $input-font-size;
      padding: 7px;
      background: transparent;
      border: unset;
      border-bottom: $grey solid 1px !important;
      cursor: not-allowed;
      min-width: 50px;
      flex: 1;
    }
  }
}
