@import '../../../../../variable.scss';

.automated-tasks-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 32px;
  padding: 0px 24px;

  .intro {
    font-size: 16px;
  }

  .select {
    margin: 0px -24px;
  }
}
