.dialog-header {
  display: flex;
  column-gap: 16px;
  height: 48px;
  padding: 0 24px 16px 24px;
  align-items: center;
  .title {
    color: var(--main-font-color);
    @include poppins500(20px);
  }
  .svg-icon {
    @include icon-size(50px);
  }
}
