.loading-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 6;
  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background: $dark-blue;
    opacity: 0.8;
  }
  .loading-text {
    font-size: 20px;
    margin-top: 16px;
    color: white;
    z-index: 1;
  }

  .loading-caption {
    color: white;
    z-index: 1;
    font-size: 18px;
    padding: 0px 24px;
    padding-top: 8px;
    text-align: center;
  }

  .operations {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin: 24px;

    .loading-operation {
      display: flex;
      align-items: center;

      span {
        font-style: italic;
        font-size: 16px;
        color: white;
        z-index: 1;
      }
      .done {
        color: green;
      }
    }
  }
}
.hide {
  display: none;
}
