.loading-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 6;
  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: $dark-blue;
    opacity: 0.8;
  }
  .loading-text {
    font-size: 20px;
    margin-top: 16px;
    color: white;
    z-index: 1;
  }

  $progress-bar-height: 18px;
  .progress-bar-container {
    height: $progress-bar-height;
    width: 300px;
    border-radius: 16px;
    border: 1px solid $red;
    background: $red-opacity;
    z-index: 2;
    overflow: hidden;
    .progress-bar {
      height: $progress-bar-height;
      background: $red;
      display: flex;
      align-items: center;
      justify-content: center;
      @include poppins600(12px);
      border-radius: 16px;
      transition: width 0.225s linear;
      overflow: hidden;
    }
  }

  .loading-caption {
    color: white;
    z-index: 1;
    font-size: 18px;
    padding: 0px 24px;
    padding-top: 8px;
    text-align: center;
  }

  .operations {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin: 24px;

    .loading-operation {
      display: flex;
      align-items: center;
      z-index: 2;
      column-gap: 8px;

      span {
        font-style: italic;
        font-size: 16px;
        color: white;
        z-index: 1;
      }
      .icon-done {
        svg {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}
.hide {
  display: none;
}
