@import '/src/popup/variable.scss';

@font-face {
  font-family: Futura;
  src: url('/assets/fonts/Futura-Boo.otf');
  font-weight: 400;
}

html {
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
  #root {
    display: block;
    height: 100%;
  }
}

.connect-ledger {
  font-family: Futura !important;
  height: 100%;
  font-weight: 400;
  background: url('/assets/images/hive-watermark.png') 0% 0% no-repeat
      padding-box,
    linear-gradient(330deg, #59626c 0%, #000000 100%) 0% 0% no-repeat
      padding-box !important;
  color: white;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 16px;
}
