@import '../../../../../variable.scss';

.wallet-history-item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  min-height: 60px;
  &.has-memo {
    .transaction {
      cursor: pointer;
    }
  }
}
