@import '/src/popup/variable.scss';
.service-unavailable-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;

  .icon-component {
    @include icon-size(60px);
  }
  .message {
    font-size: 18px;
    text-align: center;
  }
}
