.evm-account-value-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  .dapp-status-wrapper {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  .estimated-account-value-section {
    flex: 1;
  }
}

.pending-transactions-info {
  @include small-card();
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  .pending-transactions-info-title {
    @include poppins500(12px);
    color: var(--main-font-color);
  }
  .pending-transactions-info-item {
    @include poppins300(12px);
    color: var(--main-font-color);
    opacity: 0.8;
    font-style: italic;
  }
}
