.evm-account-value-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  .dapp-status-wrapper {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  .estimated-account-value-section {
    flex: 1;
  }
}
