@import '../hive/hive-app.component.scss';
@import '../evm/evm-app.component.scss';
@import './pages/sign-up/sign-up.component.scss';
@import './pages/sign-in/sign-in-module.scss';
@import './pages/chain-selector/chain-selector.component.scss';

.theme {
  height: 100%;
  &.light {
    @include spread-map($light);
  }
  &.dark {
    @include spread-map($dark);
  }
  background-color: var(--background-color);
  @include background-bottom;
}
