.favorite-accounts-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  row-gap: 12px;

  background: var(--card-background);
  border-radius: 22px;
  border: 1px solid var(--card-color);

  .item {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    padding: 8px 16px;

    .item-details {
      display: flex;
      align-items: center;
      column-gap: 16px;
      box-sizing: border-box;
      width: 100%;

      .names {
        flex: 1;
        .username {
          @include poppins600(15px);
          color: var(--main-font-color);
        }

        .label {
          @include poppins400(14px);
          color: $dark-grey;
        }
      }

      .profile-picture {
        border-radius: 50%;
        width: 36px;
        height: 36px;
      }
    }

    .edit-panel {
      display: flex;
      align-items: center;
      column-gap: 4px;

      .edit-label {
        border: unset;
        border-bottom: 1px solid var(--card-border);
        min-width: unset;
        outline: none !important;
        width: 100px;
        margin-right: 8px;
        background: transparent;
        color: var(--main-font-color);
        &:focus {
          border: unset;
          border-bottom: 1px solid var(--card-border);
        }
      }
    }
  }

  .expandable-panel {
    display: flex;
    flex-direction: column;
    .expandable-panel-content {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      padding: 12px 42px;
      .favorite-item-button {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-radius: 13px;
        border: 1px solid var(--card-border);
        padding: 14px 48px;
        cursor: pointer;
        .label {
          @include josefin500(14px);
          color: var(--main-font-color);
        }
        &:hover {
          box-shadow: 0px 4px 9px 0px var(--button-alternative-shadow-color);
        }
      }
    }
  }
}
