@import '/src/variable.scss';

.favorite-accounts-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 16px;
  overflow: hidden;

  .favorite-accounts-item {
    background: $black-transparent;
  }

  .favorite-accounts-item:nth-child(odd) {
    background: $red-transparent;
  }

  .intro {
    font-size: 16px;
  }

  .title {
    font-size: 18px;
    text-align: center;
  }

  .select {
    margin: 0px -24px;
  }

  .padding {
    padding: 0px 24px;
  }
}
