.popup-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 6;

  .overlay {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background: $dark-blue;
    position: absolute;
    margin: -36px;
  }
  .popup-content {
    z-index: 3;
    @include small-card();
    flex-direction: column;
    row-gap: 24px;
    overflow-y: auto;
    max-height: 90%;

    .popup-title {
      @include poppins500(20px);
      color: var(--main-font-color);
    }

    .caption {
      @include caption();
      padding: 0 24px;
    }

    .popup-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 8px;
      flex: 1;
      width: 100%;
    }
  }
}
