@import '../../../../../../../variable.scss';

.account-keys-list-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  height: 80px;
  margin: 0px -24px;
  padding: 6px 24px;
  .top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .key-name-container {
      display: flex;
      align-items: center;
      column-gap: 8px;
      .key-name {
        text-transform: uppercase;
        font-size: 20px;
      }
    }

    .remove-button {
      color: white;
      cursor: pointer;
      font-size: 26px;
      &:hover {
        color: $red-dark;
      }
    }
  }

  .keys-panel {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    .key-field {
      font-size: 11px;
      cursor: pointer;

      &.hidden {
        font-size: 14px;
      }

      &.wrong-key {
        color: $red-dark;
      }
    }

    .tool-tip-custom {
      margin-top: -40px !important;
    }

    .using-authorized-account {
      cursor: pointer;
      font-size: 14px;
    }
  }

  .add-key-icon {
    text-align: center;
    font-size: 32px;
    cursor: pointer;
  }
}
