.warning-container,
.information-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 4px;

  .warning,
  .information {
    font-size: 13px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-style: italic;
    .warning-icon,
    .information-icon {
      height: 16px;
      width: 16px;
      svg {
        height: 16px;
        width: 16px;
      }
      &.high {
        --warning-color: #{$red};
      }
      &.medium {
        --warning-color: #{$orange};
      }
      &.low {
        --warning-color: #{$yellow};
      }
    }
  }
}
