.balance-change-panel {
  color: var(--main-font-color);
  .balance-change-title {
    align-self: flex-start;
  }

  .balance-panel {
    display: flex;
    flex: 1;
    column-gap: 8px;
    align-items: center;
    line-height: 24px;
    justify-content: space-between;
    width: 100%;
    @include poppins400(14px);

    .icon {
      --triangle-arrow-color: #{$red};
      @include icon-size(24px);
    }
  }
}
