@import '../../../variable.scss';

.survey {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  .overlay {
    height: 100%;
    width: 100%;
    opacity: 0.25;
    background: white;
    position: fixed;
    margin: -36px;
  }

  .survey-container {
    height: auto;
    width: calc(100% - 72px);
    background: $black;
    border-radius: 8px;
    border: white;
    position: fixed;
    display: flex;
    flex-direction: column;

    .description {
      font-size: 16px;
      padding: 0px 16px;
      margin-top: 16px;
      flex: 1;
      text-align: center;
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 8px;
        border: 1px solid white;
        height: auto;
        width: 240px;
      }
    }

    .survey-title {
      margin-top: 24px;
      font-size: 18px;
      text-align: center;
      margin-bottom: 16px;
    }

    .button-panel {
      display: flex;
      margin: 24px;
      padding: 0px 16px;
      column-gap: 16px;
      justify-content: center;

      .submit-button {
        height: 32px;
        max-width: 115px;
      }
    }
  }
}
