.export-transactions-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
  flex: 1;
  .introduction {
    @include settings-page-note();
  }

  .settings-hive-account-select-panel {
    width: 100%;

    .custom-select-container {
      width: 100%;
    }

    .custom-select {
      width: 100%;
    }
  }
}
