@import '../../../../../../variable.scss';

.witness-information {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 10px;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;

  .top-panel {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
  }

  .witness-profile-container {
    display: flex;
    justify-content: flex-start;
    padding: 8px;

    .info-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-left: 8px;
    }

    .witness-name {
      font-weight: bold;
    }

    .witness-ranking {
      font-style: italic;
    }
  }

  img {
    border-radius: 50%;
    width: 46px;
    height: 46px;
  }

  .text {
    padding-bottom: 8px;
    font-size: 18px;
  }

  .button-container {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
}
