@import '../../../../../../variable.scss';

.row-information {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  column-gap: 10px;
  flex-wrap: wrap;

  .label-title {
    font-weight: bold;
  }

  .label-subtitle {
    font-weight: 500;
  }

  .label-info-data {
    font-weight: 400;
  }

  .small-text {
    font-size: 12px;
  }

  .small-icon {
    font-size: 18px;
  }

  .url-clickeable {
    cursor: pointer;
  }
}
