.menu {
  .menu-item {
    display: flex;
    align-items: center;
    background-color: rgba(33, 37, 41, 0.68);
    height: 60px;
    width: 100%;
    padding: 0 32px 0 32px;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;

    &:hover {
      background-color: rgba(56, 63, 70, 0.68);
    }

    &:nth-child(odd) {
      background-color: rgba(227, 19, 55, 0.32);
      &:hover {
        background-color: rgba(227, 19, 55, 0.45);
      }
    }

    .icon {
      font-size: 28px;
      height: auto;
      margin-right: 36px;
    }

    .menu-label {
      font-size: 18px;
    }
  }
}
