.dropdown-menu-item {
  height: 30px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 8px;
  cursor: pointer;
  .icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
  .label {
    font-size: 16px;
  }

  &:hover {
    background-color: $red-dark;
  }
}
