.title-section {
  display: flex;
  column-gap: 16px;
  height: 48px;
  padding: 16px 24px;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  .title {
    user-select: none;
    flex: 1;
    color: var(--main-font-color);
    pointer-events: none;
    height: 28px;
    overflow: hidden;
    @include poppins500(20px);
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
  }

  .icon-button {
    &.wallet-filter-button {
      @include small-card;
      padding: 6px 16px;
      @include icon-size(18px);
    }
  }
}
