.title-section {
  display: flex;
  // grid-template-columns: 18px 1fr 18px;
  column-gap: 16px;
  height: 48px;
  padding: 16px 24px;
  align-items: center;

  .fill-space {
    flex: 1;
  }

  .title {
    position: absolute;
    width: calc(100% - 48px);
    text-align: center;
    user-select: none;
    color: var(--main-font-color);
    pointer-events: none;
    height: 28px;
    overflow: hidden;
    @include poppins500(20px);
  }

  .icon-button {
    &.wallet-filter-button {
      @include small-card;
      padding: 6px 16px;
      margin: 0px;
      @include icon-size(18px);
    }
  }
}
