.title-section {
  display: flex;
  column-gap: 16px;
  user-select: none;
  padding: 0px 24px;
  align-items: center;
  .title {
    flex: 1;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    pointer-events: none;
    height: 28px;
    line-height: 30px;
    overflow: hidden;
  }

  .icon-button {
    color: white;
    cursor: pointer;
    font-size: 28px;
  }
}
