@import '/src/common-style/variable.scss';
.token-history-item {
  padding: 8px 16px;
  .transaction {
    min-height: 48px;
    display: flex;
    flex-direction: column;

    .information-panel {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      .top-row,
      .bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
      }
      .top-icon-date {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .padding-right {
        padding-right: 8px;
      }
      .open {
        transform: rotate(-180deg);
        transition: 0.3s ease-out;
      }
      .closed {
        transform: rotate(0deg);
        transition: 0.3s ease-in;
      }
    }
    .memo-panel {
      max-height: 0;
      transition: max-height 0.5s ease-out;
      overflow: hidden;
      font-size: 14px;

      &.opened {
        max-height: 500px;
        transition: max-height 0.5s ease-in;
      }
    }
  }
}
