.separator {
  background: var(--separator-color);
  align-self: center;

  &.horizontal {
    width: 80%;
    height: 2px;
    min-height: 2px;
    &.full-size {
      width: 100%;
    }
  }

  &.vertical {
    height: 100%;
    width: 1px;
    min-width: 1px;
  }
}
