.buy-coins-page {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  padding-bottom: 16px;

  .switch-container {
    align-self: end;
    position: fixed;
    top: 24px;
    right: 24px;
  }

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    .card {
      display: flex;
      flex-direction: column;
      padding: 8px;
      align-items: center;
      justify-content: center;
      row-gap: 16px;

      .description {
        font-size: 16px;
        color: white;
      }
      .title {
        font-size: 24px;
        color: white;
        margin-bottom: 24px;
        margin-left: 8px;
      }

      .exchange-item {
        height: 50px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border: 1px white solid;
        border-radius: 8px;
      }

      img {
        width: 200px;
        height: auto;
        max-height: 60px;
      }
    }

    .separator {
      height: 1px;
      width: 200px;
      background: white;
      align-self: center;
    }
  }
}
