.transaction {
  min-height: 48px;
  display: flex;
  flex-direction: column;
  flex: 1;

  &.has-expandable-content {
    cursor: pointer;
  }

  .information-panel {
    display: flex;
    flex-direction: row;
    row-gap: 8px;
    color: var(--main-font-color);
    .operation-icon {
      border-radius: 20px 0px 20px 20px;
      background: $light-red;
      padding: 14px 18px;
      margin: 4px;
    }
    .right-panel {
      display: flex;
      align-items: center;
      column-gap: 12px;
      flex: 1;
      .detail {
        @include poppins400(12px);
        color: var(--main-font-color);
        flex: 1;
      }
      .date {
        @include poppins400(12px);
        color: $light-grey;
      }
    }
  }
  .expandable-panel {
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    font-size: 14px;

    &.opened {
      max-height: 500px;
      transition: max-height 0.25s ease-in;
      margin-top: 8px;
      @include poppins400(12px);
      color: var(--main-font-color);
      padding: 0px 12px 12px 12px;
    }
  }
}
