@import '../../common-style/common-style.scss';
@import '../../common-ui/common-ui.scss';
@import '../../popup/hive/hive-app.component.scss';
@import '../../popup/evm/evm-app.component.scss';

html {
  height: 100%;
  body {
    margin: 0px;
    height: 100%;
    #root {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      .connect-ledger {
        border: solid 1px grey;
        border-radius: 8px;
        width: 350px;
        height: 600px;
        @include background-top;
        color: var(--main-font-color);
        padding: 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        font-size: 16px;

        @include dialogs-title-panel();
        .caption {
          @include caption();
        }
        .add-key {
          display: flex;
          flex: 1;
          flex-direction: column;
          row-gap: 16px;
          .caption {
            @include caption();
          }
          .fill-space {
            flex: 1;
          }
        }
      }
    }
  }
}
