@import '/src/common-style/variable.scss';

.tokens-filter {
  @include pageLayoutRowGap;
  .disclaimer {
    padding: 0px 24px;
    font-size: 18px;
    a {
      @include link;
    }
  }

  overflow: hidden;

  .input-container {
    padding: 0px 24px;
    box-sizing: border-box;
  }

  .tokens-list {
    row-gap: 16px;
    display: grid;
    overflow: auto;
    margin-top: 4px;

    .token {
      display: flex;
      column-gap: 16px;
      padding: 0px 24px;

      .switch-container {
        margin-top: 8px;
      }

      .description {
        display: flex;
        flex-direction: column;
        .name {
          font-size: 18px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 240px;
        }
        .issued-by {
          font-size: 16px;
        }
        .supply {
          font-size: 14px;
        }
      }
    }
  }
}
