.tokens-filter {
  @include pageLayoutRowGap;
  .caption {
    @include caption();
    a {
      @include link;
    }
  }

  overflow: hidden;

  .input-filter {
    margin: 0px 16px;
  }

  .tokens-list {
    row-gap: 16px;
    display: grid;
    overflow: auto;
    margin-top: 4px;

    .token {
      display: flex;
      column-gap: 16px;
      padding: 0px 24px;

      .checkbox-panel {
        width: calc(100% - 48px);
      }

      .switch-container {
        margin-top: 8px;
      }

      .description {
        display: flex;
        flex-direction: column;
        .name {
          @include poppins600(14px);
          color: var(--main-font-color);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .extra-info {
          display: flex;
          flex-direction: column;

          .details {
            display: flex;
            align-items: center;
            column-gap: 8px;
          }

          .logo-container {
            @include icon-size(24px);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 4px;
            .logo {
              @include icon-size(20px);
            }
          }

          .issued-by,
          .supply {
            @include poppins400(12px);
            color: var(--main-font-color);
          }
        }
      }
    }
  }
}
