@import '/src/variable.scss';
.dropdown-menu-container {
  z-index: 1;
  .dropdown-menu {
    position: absolute;
    right: 32px;
    top: 36px;
    width: 200px;
    background: black;
    z-index: 3;
  }
  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    background: white;
    opacity: 0.1;
  }
}
