@import 'src/common-style/variable.scss';
@import 'src/common-style/mixins.scss';

.add-by-auth-page {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 0px 24px;

  .caption {
    @include caption($dark-blue);
  }
}
