@import '/src/common-style/variable.scss';

.favorite-accounts-list {
  flex-direction: column;
  display: flex;
  flex: 1;
  overflow: auto;

  .title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .text-no-favorites {
    text-align: center;
    font-size: 16px;
  }
}
