.witness-information {
  display: flex;
  flex-direction: column;
  flex: unset;
  padding: 0;
  font-size: 16px;
  overflow: visible;
  row-gap: 8px;

  .witness-disabled {
    width: 40px;
  }

  .witness-information-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
  }

  .top-panel {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
  }

  .witness-profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include small-card();
    padding: unset;
    margin: unset;
    color: var(--main-font-color);
    min-width: 0;

    .witness-profile {
      display: flex;
      justify-content: flex-start;
      min-width: 0;
      padding: 8px 10px;

      .witness-image {
        border-radius: 50%;
        width: 36px;
        height: 36px;
      }

      .info-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 8px;
        min-width: 0;
        .witness-name {
          @include poppins600(14px);
          color: var(--main-font-color);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .witness-ranking {
          @include poppins500(11px);
          color: var(--main-font-color);
        }
      }
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
  }

  .bottom-panel {
    display: flex;
    column-gap: 16px;
  }
}
