@import '/src/variable.scss';

.add-key-page {
  padding: 0px 24px;
  .introduction {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .add-using-ledger {
    margin-top: 32px;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $red-dark;
    }
  }
}
