.add-key-page {
  @include pageLayoutRowGap;
  padding: 0px 24px;
  padding-bottom: 24px;
  .caption {
    @include caption;
  }

  .add-using-ledger {
    margin-top: 32px;
    @include caption;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $red-dark;
    }
  }
}
