.select-account-section {
  .select-account-select {
    border: unset !important;
    border: 1px solid white !important;
    border-radius: 16px !important;
    background: transparent;

    &:hover,
    &:focus {
      border: 1px solid white !important;
      border-radius: 16px !important;
      background: transparent;
    }

    &.white {
      background: white;
      &:hover,
      &:focus {
        background: white;
      }
    }

    //commons
    .selected-account-name,
    .account-name {
      @include poppins500(14px);
      user-select: none;
      color: $darker-grey;
    }
    .user-picture {
      border-radius: 50%;
      width: 26px;
      height: 26px;
    }

    .react-dropdown-select-content {
      .selected-account-panel {
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 6px 6px;
        box-sizing: border-box;
        width: 100%;
      }
    }

    .react-dropdown-select-dropdown-handle {
      width: 24px !important;
      margin-top: -2px;
      vertical-align: middle;
      margin-left: unset !important;
      .custom-select-handle {
        height: 10px;
        width: 10px;
      }
    }

    .react-dropdown-select-dropdown {
      .custom-select-dropdown {
        .option {
          display: flex;
          flex-direction: column;
          &:hover {
            background-color: $red;
            .account-name,
            .active-icon {
              color: white !important;
            }
          }
        }
      }
      width: auto;
      border: 1px solid white;
      top: 50px;
      background-color: white;
      border-radius: 16px;
      right: -1px;
      left: unset !important;

      .select-account-item {
        display: flex;
        align-items: center;
        column-gap: 12px;
        padding: 10px 6px;
        box-sizing: border-box;

        .copy-username-button {
          display: none;
        }

        &:hover {
          .copy-username-button {
            display: block;
            font-size: medium;
          }
        }

        .account-name {
          width: 120px;
        }
        .icons-wrapper {
          width: 50px;
          display: flex;
          justify-content: space-between;
          .hovered-icons {
            flex: 1;
            justify-content: space-between;
            flex-direction: row;
          }
          .active-icon,
          .drag-icon,
          .copy-icon {
            height: 20px;
            width: 20px;
          }
          .copy-icon {
            margin-right: 7px;
          }
          .active-icon {
            margin-left: 27px;
          }
        }
      }
    }
  }

  &.fullsize {
    margin: 0px 20px;
    height: 68px;
    .select-account-select {
      height: 68px;
    }
    .selected-account-name,
    .account-name {
      @include poppins500(15px);
      flex: 1;
    }
    .active-icon {
      margin-right: 10px;
    }
    .user-picture {
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
    .react-dropdown-select-dropdown {
      top: 72px;
      width: 100%;
    }
  }
}

.css-wmy1p7-ReactDropdownSelect {
  box-shadow: none !important;
}
