@import '/src/common-style/variable.scss';

.select-account-section {
  .select-account-select {
    border: unset !important;
    border: 1px solid white !important;
    border-radius: 16px !important;
    background: transparent;

    &:hover,
    &:focus {
      border: 1px solid white !important;
      border-radius: 16px !important;
      background: transparent;
    }

    //commons
    .selected-account-name,
    .account-name {
      font-family: Poppins;
      font-size: 14.531px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      user-select: none;
      color: $dark-grey;
    }
    .user-picture {
      border-radius: 50%;
      width: 26px;
      height: 26px;
    }

    .react-dropdown-select-content {
      .selected-account-panel {
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 6px 6px;
        box-sizing: border-box;
        width: 100%;
      }
    }

    .react-dropdown-select-dropdown-handle {
      width: 24px !important;
      margin-top: 2px;
      vertical-align: middle;
      margin-left: unset !important;
      .custom-select-handle {
        height: 10px;
        width: 10px;
      }
    }

    .react-dropdown-select-dropdown {
      .custom-select-dropdown {
        .option {
          display: flex;
          flex-direction: column;
          &:hover {
            background-color: $red;
            .account-name,
            .active-icon {
              color: white !important;
            }
          }
          .separator {
            height: 1px;
            background: $extra-light-grey;
            width: 80%;
            align-self: center;
          }
        }
      }
      width: auto;
      border: 1px solid white;
      top: 50px;
      background-color: white;
      border-radius: 16px;
      .select-account-item {
        display: flex;
        align-items: center;
        column-gap: 12px;
        padding: 10px 6px;
        box-sizing: border-box;

        .copy-username-button {
          display: none;
        }

        &:hover {
          .copy-username-button {
            display: block;
            font-size: medium;
          }
        }

        .account-name {
          flex: 1;
        }

        .active-icon {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
