.buy-coins-page {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  padding-bottom: 16px;
  row-gap: 24px;

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    .card {
      display: flex;
      flex-direction: column;
      padding: 16px 30px;
      align-items: center;
      justify-content: center;
      row-gap: 16px;
      border-radius: 26px;
      border: 1px solid var(--buy-card-border);
      background: var(--buy-card-background);
      position: relative;
      align-items: start;
      justify-content: center;

      .buy-button {
        position: absolute;
        top: 6px;
        right: 6px;
        border-radius: 0px 20px;
        width: auto;
        padding: 0px 32px;

        &:hover {
          box-shadow: 0px 13px 9px 0px $red-shadow;
        }
      }

      .description {
        @include josefin500(14px);
        color: var(--main-font-color);
        opacity: 0.8;
      }

      .title {
        @include josefin700(20px);
        color: var(--main-font-color);
      }

      &.exchanges-card {
        padding: 16px 10px;
        .title {
          padding: 16px 0px;
          align-self: center;
        }
      }

      .exchange-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 6px;
        row-gap: 12px;
        width: 100%;
        .exchange-item {
          width: 170px;
          height: 49px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          cursor: pointer;
          .svg-icon > div {
            width: 170px;
            height: 49px;
            border-radius: 10px;
            &:hover {
              box-shadow: 0px 4px 9px 0px var(--buy-card-hovered-shadow);
            }
          }
        }
      }
    }
  }
}
