.governance-renewal {
  .list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    @include small-card-no-padding;
    padding: 16px;
  }

  .read-more-link {
    @include link();
  }

  .custom-checkbox {
    align-items: unset !important;
  }

  &.force-hide {
    display: none;
  }
}
