@import '../../../../../../variable.scss';

.witness-tab-page-step-two {
  flex: 1;
  padding: 0px 10px;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;

  .column-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  .row-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 16px;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-top {
    margin-top: 10px;
  }
}
