@import '/src/popup/variable.scss';

.operation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .operation-red {
    color: $red;
  }
  .operation_body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 32px;
    margin-left: -32px;
    margin-right: -32px;
    min-height: 100px;
  }

  h3 {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  .operation_item_content {
    font-style: italic;
    overflow-wrap: break-word;
  }

  .operation_header {
    font-size: 18px;
    margin-bottom: 0.5em;
    text-align: center;
  }
  .operation_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-end;
    padding: 20px 32px;
    margin: 20px -32px -32px -32px;
    &.no-whitelist {
      padding: 20px 32px;
    }
    .operation_buttons {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      column-gap: 16px;
    }

    .hide {
      display: none;
    }

    .checkbox_container {
      height: auto;
      margin-bottom: 20px;
      .title {
        text-transform: none;
        font-size: 15px;
        text-align: justify;
      }
    }
  }
}
