.operation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0px -16px;
  row-gap: 16px;

  .operation-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .fields {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      row-gap: 16px;
      max-height: 324px;
      overflow: auto;
      padding: 16px 24px;
      color: var(--main-font-color);
      background: var(--card-background);
      border-radius: 20px;
      border: 1px solid var(--card-border);
      .field {
        display: flex;
        justify-content: space-between;
        column-gap: 16px;
        .label {
          @include poppins500(14px);
        }
        .value {
          @include poppins400(13px);
          text-align: right;
          &.xs-font {
            font-size: 11px;
          }
        }
      }
    }
  }

  .operation-buttons {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
}
