.add-by-keys-page {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  height: 100%;
  .caption {
    @include caption();
    font-size: a {
      color: $red;
    }
  }

  .form-container {
    @include pageLayoutRowGap;
    row-gap: 32px;
    margin-top: 16px;
  }
}
