.chain-selector-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  .caption {
    @include caption();
  }

  .chain-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 12px;
    width: 100%;
    padding: 0px 24px;
    box-sizing: border-box;

    --add-icon-color: #{$red};

    .chain-card {
      @include small-card();
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      margin: 0;
      @include poppins500(15px);
      cursor: pointer;
      color: var(--main-font-color);
      text-align: center;

      .svg-icon {
        @include icon-size(45px);
        svg {
          @include icon-size(45px);
        }
      }
      img {
        @include icon-size(45px);
      }

      &.add-custom-chain {
        .svg-icon {
          @include icon-size(36px);
          svg {
            @include icon-size(36px);
          }
        }
      }
    }
  }
}
