.chain-selector-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 92px);
  overflow: auto;
  row-gap: 16px;

  .search-container {
    display: flex;
    column-gap: 8px;
    width: 85%;
    .custom-checkbox {
      border-color: white;
    }
  }

  .lists-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;

    .chain-cards-container {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      .chain-cards-container-title {
        @include poppins500(15px);
        color: var(--main-font-color);
        text-align: center;
      }

      .chain-cards-container-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 12px;
        width: 100%;
        padding: 0px 24px;
        box-sizing: border-box;

        --add-icon-color: #{$red};
      }

      .chain-card {
        @include small-card();
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin: 0;
        @include poppins500(15px);
        cursor: pointer;
        color: var(--main-font-color);
        text-align: center;
        justify-content: space-between;
        height: 130px;

        .svg-icon {
          @include icon-size(45px);
          svg {
            @include icon-size(45px);
          }
        }
        .chain-card__logo {
          @include icon-size(45px);
          border-radius: 50%;
        }

        .chain-card__logo.chain-logo-initials {
          @include poppins600(14px);
        }

        &.add-custom-chain {
          justify-content: center;
          .svg-icon {
            @include icon-size(36px);
            svg {
              @include icon-size(36px);
            }
          }
        }
      }
    }
  }
}
