.resource-item {
  .top {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 14px;

    img {
      height: 16px;
      width: 16px;
    }

    .label {
      font-size: 16px;
    }
  }
  .bottom {
    font-size: 14px;
  }
}
