@import '../../../../../variable.scss';
.resource-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: help;
  user-select: none;
  .icon {
    color: $red;
    font-size: 26px;
  }
  .right-panel {
    text-align: center;
    .top {
      font-size: 14px;

      .label {
        font-size: 16px;
      }
    }
    .bottom {
      font-size: 14px;
      text-align: center;
    }
  }
  #tooltip {
    max-width: 120px !important;
  }
}
