.switch-container {
  padding: 4px 0px;
  .switch-panel {
    display: flex;
    column-gap: 8px;
    align-items: center;
    font-size: 16px;
  }

  .hint {
    margin-top: 8px;
    font-size: 14px;
  }

  .pretty.p-switch {
    .state {
      &::before {
        border-color: white !important;
      }
    }
  }

  .pretty.p-switch input ~ .state label:after {
    background-color: white !important;
  }
}
