@import '/src/popup/variable.scss';

.pretty.p-switch {
  .state {
    &::before {
      border-color: $grey-transparent !important;
    }
  }
}

.pretty.p-switch input ~ .state label:after {
  background-color: $grey-transparent !important;
}

.pretty.p-switch.checked {
  .state {
    &::before {
      border-color: white !important;
    }
  }
}

.pretty.p-switch input:checked ~ .state label:after {
  background-color: white !important;
}

.switch-container {
  .hint {
    margin-top: 8px;
    font-size: 14px;
  }
}
