.settings-main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  .link-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 0px;
    column-gap: 16px;
    cursor: pointer;
    .icon {
      height: 20px;
      width: 20px;
    }
  }
}
