.select-account-section {
  .select-account-select,
  .select-account-select:hover,
  .select-account-select:focus {
    border: unset !important;
    background: rgba(33, 37, 41, 0.68);
    user-select: none;
  }

  .select-account-select {
    .react-dropdown-select-dropdown {
      border: unset;
      background-color: black;
    }
  }

  .selected-account-panel {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 12px 26px;
    box-sizing: border-box;
    width: 100%;

    img {
      border-radius: 50%;
      width: 46px;
      height: 46px;
    }
  }
  .selected-account-panel .selected-account-name,
  .select-account-item .account-name {
    font-size: 18px;
  }

  .react-dropdown-select-item {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 12px 26px;
    box-sizing: border-box;
    background: $black-transparent;
    border: none;
    user-select: none;

    &:hover,
    &.react-dropdown-select-item-selected {
      background: $red-dark;
      border: none;
    }
  }
  .react-dropdown-select {
    padding: 0;
    &:focus {
      box-shadow: none;
    }
    svg {
      height: 10px;
      width: 10px;
    }
  }
}
