.detailed-nft {
  @include small-card();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: unset;
  row-gap: 8px;
  position: relative;

  img {
    height: 160px;
    width: 160px;
  }

  .nft-balance {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 4px 4px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .collection-name {
    @include poppins300(12px);
    opacity: 0.8;
  }
  .label-value {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .label {
      @include poppins500(12px);
    }
    .value {
      @include poppins300(12px);
    }
  }

  &.expanded {
    grid-column-start: 1;
    grid-column-end: -1;

    img {
      height: auto;
      max-height: 300px;
      align-self: center;
      width: unset;
    }
  }
}
