.add-account-page {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 0 24px;

  .caption {
    @include settings-page-note();
    margin: 0;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0;
  }
}
