@import 'src/common-style/variable.scss';
@import 'src/common-style/mixins.scss';

.add-account-page {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 0px 24px;
  .caption {
    color: $dark-blue;
    @include poppins400(12px);
  }

  .button-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}
