.add-account-page {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 0px 24px;
  .caption {
    line-height: 22px;
    font-size: 16px;
    text-align: left;
    text-overflow: clip;
    white-space: normal;
    color: white;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 32px;
  }
}
