@import '@common-style/variable.scss';
@import '@common-style/mixins.scss';

$autoCompleteItemHeight: 30px;
$placeholderColor: rgba(92, 100, 113, 0.5);
.custom-input {
  .label {
    color: $dark-blue;
    @include poppins600(14px);
  }
  .input-container {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    user-select: none;

    input {
      @include poppins500($input-font-size);
      width: 100%;
      background: white;
      padding: 16px;
      box-sizing: border-box;
      color: $dark-blue;
      border-style: unset;
      border-radius: 66px;
      border: 1px solid $lighter-grey-border;

      &::placeholder {
        color: $placeholderColor;
        @include poppins400(15px);
      }

      &.has-error {
        border-color: $red-dark;
        &::placeholder {
          color: $red-dark;
        }
      }

      &:focus {
        outline: none !important;
        border-color: white;
      }

      &.has-max-button {
        padding-right: 48px;
      }
    }

    &.no-logo > input {
      padding-left: 20px;
    }

    &.password-type > input {
      padding-right: 60px;
    }

    .input-img {
      position: absolute;
      left: 12px;
    }

    .focused {
      .input-img {
        color: $grey;
      }
    }

    .display-password {
      left: unset;
      right: 20px;
      cursor: pointer;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .erase {
      display: none;
      top: 0;
      bottom: 0;
      margin: auto;
      left: unset;
      right: 20px;
      cursor: pointer;
    }

    &:hover {
      .erase {
        display: block;
      }
    }

    .set-to-max-button {
      position: absolute;
      right: 8px;
      // bottom: 14px;
      bottom: 8px;
      font-size: 16px;
      cursor: pointer;
      user-select: none;
    }

    .hint {
      font-style: italic;
      margin-top: 2px;
      font-size: $input-font-size;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
