@import '@common-style/variable.scss';
@import '@common-style/mixins.scss';

$autoCompleteItemHeight: 30px;
$placeholderColor: rgba(92, 100, 113, 0.5);
.custom-input {
  .label {
    display: flex;
    column-gap: 8px;
    color: $dark-blue;
    @include poppins600(14px);
    .hint {
      @include poppins300($input-font-size - 2px);
    }
  }
  .custom-input-content {
    display: flex;
    column-gap: 12px;
    width: 100%;
    margin: 0;
    margin-right: 12px;
    user-select: none;

    background: white;
    padding: 16px;
    box-sizing: border-box;
    color: $dark-blue;
    border-style: unset;
    border-radius: 66px;
    border: 1px solid $lighter-grey-border;

    .input-container {
      display: flex;
      position: relative;
      flex: 1;
      input {
        flex: 1;
        border-style: unset;
        border: none;
        @include poppins500($input-font-size);
        color: $dark-blue;
        &::placeholder {
          color: $placeholderColor;
          @include poppins400(15px);
        }

        &:focus {
          outline: none !important;
          border-color: white;
        }
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }

      &.has-logo > input {
        padding-left: 24px;
      }

      &.password-type > input {
        padding-right: 32px;
      }

      .input-img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        &.left {
          left: 0;
        }

        &.right {
          right: 0;
        }
      }

      .erase {
        display: none;
      }

      &:hover {
        .erase {
          display: block;
        }
      }
    }

    .right-action {
      display: flex;
      column-gap: 12px;
    }

    &.has-error {
      border-color: $red !important;
    }
  }
  .error {
    @include poppins400(12px);
    color: $red;
  }
}
