@import '../../../../../../variable.scss';

.account-authorities-list {
  @include pageLayoutRowGap;
  padding: 0px 5px;
  padding-bottom: 24px;
  padding-top: 10px;

  .authorities-panel {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    .key-field {
      font-size: 11px;
      cursor: pointer;

      &.hidden {
        font-size: 14px;
      }
    }

    .using-authorized-account {
      cursor: pointer;
      font-size: 14px;
    }
  }

  scroll-behavior: smooth;
}
