/* Custom properties */
:root {
  --tooltip-arrow-size: 6px;
}

$tooltip-arrow-size: 6px;

.tooltip-container {
  display: inline-block;
  position: relative;
  .tooltip {
    --tooltip-arrow-offset-x: calc(50% - 6px);
    --tooltip-arrow-offset-y: calc(50% - 6px);

    border-radius: 4px;
    color: var(--tooltip-text-color);
    background: var(--tooltip-background-color);
    line-height: 1.2;
    z-index: 100;
    padding: 12px;
    width: 150px;
    max-width: calc(100vw - 16px);
    box-sizing: border-box;
    overflow: visible;
    text-align: center;

    @include inter400(14px);

    .tooltip-inner {
      max-height: calc(100vh - 40px);
      overflow-y: auto;
      white-space: normal;
      overflow-wrap: anywhere;
      word-break: break-word;
    }

    &::before {
      content: ' ';
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: $tooltip-arrow-size;
    }

    &.top {
      &::before {
        left: var(--tooltip-arrow-offset-x);
        top: 100%;
        border-top-color: var(--tooltip-background-color);
      }
    }
    &.right {
      &::before {
        left: calc(var(--tooltip-arrow-size) * -1);
        top: var(--tooltip-arrow-offset-y);
        border-right-color: var(--tooltip-background-color);
      }
    }

    &.bottom {
      &::before {
        left: var(--tooltip-arrow-offset-x);
        bottom: 100%;
        border-bottom-color: var(--tooltip-background-color);
      }
    }

    &.left {
      &::before {
        left: auto;
        right: calc(var(--tooltip-arrow-size) * -2);
        top: var(--tooltip-arrow-offset-y);
        border-left-color: var(--tooltip-background-color);
      }
    }
  }
}
