.wallet-action-button {
  display: flex;
  column-gap: 8px;
  padding: 8px 12px;
  width: 150px;
  min-height: 58px;
  border-radius: 13px;
  border: 1px solid var(--wallet-card-darker-border);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  .title {
    @include poppins400(14px);
    color: var(--main-font-color);
  }

  &:hover {
    background: $red;
    .title {
      color: white;
    }
    --wallet-icon-border-color: white;
    --wallet-icon-color: white;
    --wallet-icon-secondary-color: white;
  }
}
