.nft-collection-preview-card {
  @include small-card();
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  cursor: pointer;

  .nft-collection-name-panel {
    display: flex;
    align-items: center;
    column-gap: 4px;
    .nft-collection-name {
      @include poppins500(16px);
      color: var(--main-font-color);
    }
    .nft-collection-address {
      @include poppins300(13px);
      opacity: 0.8;
      font-style: italic;
    }
  }
  .nft-collection-preview {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 12px;
    width: 100%;

    .nft-preview-container {
      display: flex;
      column-gap: 8px;
    }

    .go-to-icon {
      align-self: center;
      justify-self: right;
      transform: rotate(-90deg);
    }

    img {
      height: 64px;
      width: 64px;
      border: solid 1px var(--card-border);
      border-radius: 8px;
    }
  }
}
