.operation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0px -16px;
  row-gap: 16px;
  overflow: hidden;

  .scrollable {
    height: 85%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    // .dialog-caption {
    //   @include small-card;
    //   display: unset;
    //   margin: unset;
    //   margin-bottom: 8px;
    // }

    .unable-to-reach-panel {
      @include small-card;
      display: flex;
      margin: unset;
      margin-bottom: 8px;
      column-gap: 8px;
      .svg-icon {
        @include icon-size(30px);
        --warning-color: #{$red};
      }
      .text {
        @include poppins400(14px);
        color: var(--main-font-color);
      }
    }

    .operation-header {
      padding: 0 12px 12px 12px;
    }
    .operation-body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      row-gap: 16px;
    }

    .fields {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      row-gap: 16px;
      overflow: auto;
      padding: 16px;
      color: var(--main-font-color);
      background: var(--card-background);
      border-radius: 20px;
      border: 1px solid var(--card-border);

      .field-container {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        .field {
          position: relative;
          display: flex;
          justify-content: space-between;
          column-gap: 16px;
          user-select: auto;
          pre {
            user-select: all;
          }
          .label {
            @include poppins500(14px);
            text-transform: capitalize;
          }
          .value {
            @include poppins400(14px);
            overflow-wrap: anywhere;
            max-width: 70%;
            text-align: right;
            user-select: text;
            ul {
              margin: 0;
            }
            &.xs-font {
              font-size: 11px;
            }

            .value-content {
              display: flex;
              align-items: center;
              column-gap: 8px;

              img {
                height: 24px;
                width: 24px;
                border-radius: 50%;
              }
            }
            // .value-content-vertical {
            //   display: flex;
            //   flex-direction: column;
            //   padding: 4px;
            //   border: 1px solid var(--card-border);
            //   border-radius: 4px;
            //   .label {
            //     font-style: italic;
            //     color: $light-grey;
            //   }

            // }
          }

          &.string-centered {
            justify-content: center;
            .value {
              font-weight: 600;
            }
          }

          &.html-element {
            display: flex;
            flex-direction: column;
            .label {
              text-align: center;
            }
            .value {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }
          }

          .long-text-container {
            @include expandable-panel();

            .expandable-panel-content {
              word-wrap: break-word;
              word-break: break-word;
              font-size: 13px;
            }
            .title {
              font-weight: 500;
            }
          }

          .list {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
          }

          &.image {
            .value {
              width: 100%;
              max-width: unset;
              display: flex;
              justify-content: center;
              img {
                width: 300px;
              }
            }
          }
        }
      }

      .transaction-operation-name {
        text-align: center;
        font-size: 20px;
        text-transform: capitalize;
      }

      .account-chain-panel {
        display: flex;
        .chain-info {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          column-gap: 8px;
          .chain-logo {
            height: 24px;
            width: 24px;
            border-radius: 50%;
          }
        }
      }
    }

    .domain-panel {
      min-height: 92px;
    }

    .balance-change-panel {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      align-items: flex-start;
    }

    &.has-caption {
      .operation-body {
        max-height: 275px;
        overflow: hidden;
      }
    }
  }

  .operation-buttons {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
}
